<% layout( '../layout') %>
<div class="container">
    <div>
        <div class="starter-template">
            <p class="lead"></p>
            <div class='alert alert-info'>Reminder: after import, please commit your changes.</div>
            <p></p>
            <div class="panel panel-default">
                <nav class="navbar navbar-default" role="navigation" style='margin-bottom:0px'>
                    <div class="navbar-header">
                        <button class="navbar-toggle" data-target="#excelProcessing" data-toggle="collapse" type="button">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" data-bind='text: displayName' href="#"></a>
                    </div>
                    <div class="collapse navbar-collapse navbar-ex1-collapse" id="excelProcessing">
                        <ul class="nav navbar-nav">
                            <li data-bind='css:{active: selected()==="import"}'>
                                <a data-bind='click: function(){selected("import");}' href="#">Import</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div data-bind='block:{on: blocked, message:null}'>
                    <div class='panel-body' data-bind='visible: selected()==="import"'>
                        <div>
                            <h3>
                                Import
                            </h3>
                            <div>
                                <input data-bind='event:{change: function(){ uploadModel().reset(); uploadModel().fileData($element.files[0]); $data.uploadModel().fileUpload(); $element.value=null; return false; } }' id='fileToUpload' style='display:none' type='file'/>
                                <a class="btn btn-default btn-lg" data-bind='click:function(){ uploadModel().fileData(null); $("#fileToUpload").click(); }, css:{disabled: uploadModel().uploading()}' href='#'>Upload &amp; Process</a>
                                <a class="btn btn-default btn-lg" data-bind='css:{disabled: uploadModel().uploading() || !uploadModel().uploadComplete()}, click: function(){importModel().getImportReport();}' href='#'>Download Report</a>
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-info" data-bind='style: {width: (importModel().pageProgress()) + "%"}'>
                                            <span data-bind='text: importModel().pageProgress() + "%"'></span>
                                        </div>
                                        <div class="progress-bar progress-bar" data-bind='style:{width: (uploadModel().uploadProgress() - importModel().pageProgress())+"%"}'>
                                            <span data-bind='text: (uploadModel().uploadProgress()) +"%"'></span>
                                        </div>
                                    </div>
                                </p>
                            </div>
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Messages
                                    <br/>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class='scrollHack'>
                                    <table class='table table-bordered'>
                                        <thead>
                                            <tr>
                                                <th>Message</th>
                                            </tr>
                                        </thead>
                                        <tbody data-bind='foreach: throttledMessages()'>
                                            <tr data-bind='template:{name:"message_template", data:$data}'></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<iframe id='downloadFrame' style='display:none;'></iframe>
<script src='/js/ko/remittance/importModel.js?v=<%= version %>'></script>
<script>
    $(function () {
        var data = {
                typeName   : 'remittanceRecords',
                displayName: 'Remittance Converter'
            };
        var model = new PdfProcessingModel(data);
        ko.applyBindings(model, $('#import').get(0));
    });
</script>
<script id='message_template' type='text/html'>
    <td data-bind='text: message'</td></script>
    <script src='/js/lib/socket.io-stream.js'></script>
