<% layout( '../layout-inprogress') %>
<div class="container">
    <div>
        <div class='panel panel-default' id='session'>
            <div class='panel-heading'>
                <div class='row' data-bind='with: sessionNotes()'>
                    <div class='col-md-3'>
                        <h3>Session Notes</h3>
                    </div>
                    <div class='col-sm-4' data-bind='visible: !$root.loading()'>
                        <div class='form-group'>
                            <label class='control-label'>Provider</label>
                            <p class='form-control-static'><h4>
                            <span data-bind='text:$data.providerName'></span>
                            </h4>
                            </p>
                        </div>
                    </div>
                    <div class='col-sm-4' data-bind='visible:!$root.loading()'>
                        <div class='form-group'>
                            <label class='control-label'>Service</label>
                            <h4><p class='form-control-static' data-bind='text: serviceType'></p></h4>
                        </div>
                     </div>
                </div>
                <div class='row' data-bind='with: sessionNotes(), visible: !$root.loading()'>
                    <div class='col-xs-8 col-xs-offset-3' data-bind='visible: $root.procedureCodeOptions().length > 0, css:{"has-error": !$data.procedureCodeId.isValid() && $root.showErrors()}'>
                      <div>  
                          <label class='control-label'>Procedure Code</label>
                        </div>
                        <div>
                            <div class='btn-group' style='width:100%'>
                            <button class='btn btn-default dropdown-toggle' 
                                    data-toggle='dropdown' 
                                    type='button'
                                    style='width:100%; text-align:left;'>
                                <span data-bind='text: selectedProcedureCode'></span>
                                <div class='caret pull-right' style='margin-top:7px;'></div>
                            </button>
                            <ul class='dropdown-menu' data-bind='foreach: $root.procedureCodeOptions()'>
                                <li>
                                    <a data-bind='text: $data.display, 
                                                    click: function(){$parent.procedureCodeId($data.procedureCodeId());}' 
                                        href='#'></a>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <span class='help-block' data-bind='visible: !$data.procedureCodeId.isValid() 
                                        && $root.showErrors()'>Please select a procedure code.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class='panel-body' data-bind='visible: loading()'>
                <img class='img-responsive' style='margin:0 auto' src='/images/loading.GIF'/>
            </div>
            <div class='panel-body' style='display:none;' data-bind='visible:!loading()'>
                <div class='form-horizontal'>
                    <div data-bind='with: sessionNotes()'>
                        <div class='row col-sm-12'>

                        </div>
                        <div class='row'>
                            <div class='form-group' 
                                  data-bind='visible: $root.procedureCodeOptions().length === 0, css:{"has-error": true}'>
                                <label class='control-label col-sm-2'>Procedure Code</label>
                                <div class='col-sm-4 has-error'>
                                    Procedure codes have not been loaded for this student's district.  Please contact your system administrator.
                                </div>
                            </div>
                        </div>
                        
                        <div class='row'>
                            <div class='col-sm-3'>
                                <button class='btn btn-default' id='showSchedule' type='button' 
                                    data-bind='click:function(){
                                        $data.showSchedule(!$data.showSchedule());
                                    }'>
                                    <span class='glyphicon' data-bind='css:{
                                        "glyphicon-chevron-down":!$data.showSchedule(),
                                        "glyphicon-chevron-up": $data.showSchedule()
                                    }'></span>
                                     Edit Schedule
                                </button>
                            </div>

                            <div>
                                <div data-bind='with: schedule'>
                                    <div data-bind='visible:!$parent.showSchedule()'>
                                        <div class='col-md-9 col-md-pull-1'>
                                            <strong>Session Date:&nbsp;</strong><span style='padding-right: 12px' data-bind="text: date"></span>
                                            <strong>Start Time:&nbsp;</strong><span style='padding-right: 12px' data-bind="text: startTime"></span>
                                            <strong>Duration:&nbsp;</strong><span style='padding-right: 12px' data-bind="text: duration() + ' minutes'"></span>
                                            <strong>Location:&nbsp;</strong><span style='padding-right: 12px' data-bind="text: location"></span>
                                        </div>
                                            <p>&nbsp;</p>
                                    </div>
                                    <div data-bind='visible: $parent.showSchedule()'>
                                        <div class="row col-md-12 col-sm-push-1">
                                            <!-- borrow scheduling's bindings -->
                                            <div class='row'>
                                               <% include ../schedule/commonScheduling.ejs %>
                                               <p>&nbsp;</p>
                                               <p>&nbsp;</p>
                                            </div>
                                        </div>
                                    </div>                   
                                </div>
                            </div>
                        </div>

                        <ul class='list-group' data-bind='style: {color: ($data.attendees().length == 0 && $root.showErrors()) ? "#a94442" : "auto"}'>
                            <li class='list-group-item' data-bind='style: {borderColor: ($data.attendees().length == 0 && $root.showErrors()) ? "#a94442" : "auto"}'>
                                <div class='row'>
                                    <div class='col-xs-2'>
                                        <strong>Name</strong>
                                    </div>
                                    <div class='col-xs-2'>
                                        <strong>Student ID</strong>
                                    </div>
                                    <div class='col-xs-1'>
                                        <strong>DOB</strong>
                                    </div>
                                    <div class='col-xs-2' style='text-align:center'>
                                        <strong>Absent?</strong>
                                    </div>
                                    <div class='col-xs-5'>
                                        <div class='pull-right'>
                                        <a class='btn btn-primary ' 
                                            data-bind='click:function(){console.log("clicking edit");$data.attendeesModal.open($root);}' 
                                            href='#'><span class='glyphicon glyphicon glyphicon-edit'></span> Edit Attendees</a>
                                            <div data-backdrop='static' 
                                                data-bind='modal_old:{properties: attendeesModal, template: "attendeesModal"}' 
                                                data-keyboard='false'></div>

                                            </div>
                                        </div>

                                </div>
                            </li>

                            <!-- ko foreach: attendees -->
                            <li class='list-group-item'>
                                <div class='row'>
                                    <div class='col-xs-2'>
                                        <a data-bind='attr:{href:"/<%= districtCode %>/student/"+$data.internalStudentId()}, text: $data.name'></a>
                                    </div>
                                    <div class='col-xs-2'>
                                        <span data-bind='text: studentId'></span>
                                    </div>
                                    <div class='col-xs-1'>
                                        <span data-bind='text: dateOfBirth'></span>
                                    </div>
                                    <div class='col-xs-2'>
                                        <input class='form-control' 
                                                    data-bind='checked: absent' 
                                                    type='checkbox'/>
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class='col-xs-12'>
                                        <strong>Diagnostic Code:&nbsp;</strong>
                                        <span data-bind='css:{"text-danger": $root.showErrors() && $data.diagnosticCode() == "Not Selected" && $parent.finalize()}'>
                                            <span data-bind='text: diagnosticCode'></span>
                                        </span>
                                    </div>
                                </div>
                                <br/>
                                
                                <div class='row'>
                                    <div class='col-xs-12'>
                                            <div><strong>Medicaid Progress Narrative</strong></div>
                                            <div>
                                                <div class='form-group' 
                                                    data-bind='css:{"has-error": !$data.absenceReason.isValid() 
                                                            && $root.showErrors()}'>
                                                    <div class='col-xs-12'>
                                                        <textarea class='form-control' 
                                                        data-bind='value: individualNote, valueUpdate: "keyup"' 
                                                        ></textarea>
                                                    </div>
                                                </div>
                                            </div>

                                    </div>
                                </div>
                                <div class='row'>
                                    <div class='col-xs-12' data-bind='visible: $data.absent()'>
                                            <div><strong>Absence Reason</strong></div>
                                            <div>
                                                <div class='form-group' 
                                                    data-bind='css:{"has-error": !$data.absenceReason.isValid() 
                                                            && $root.showErrors()}'>
                                                    <div class='col-xs-12'>
                                                        <textarea class='form-control' 
                                                        data-bind='value: absenceReason, valueUpdate: "keyup", enable: $data.absent()' 
                                                        ></textarea>
                                                        <span class='help-block' 
                                                        data-bind='visible: !$data.absenceReason.isValid() 
                                                        && $root.showErrors()'>Please enter an absence reason at least 5 characters long.</span>
                                                    </div>
                                                </div>
                                            </div>

                                    </div>
                                </div>
                            </li>
                            <!-- /ko -->
                        </ul>


                        <div class='row'>
                            <div class='col-xs-12'>
                                <div class='form-group' 
                                data-bind='css:{"has-error": !$data.sessionNotes.isValid() && $root.showErrors()}'>
                                    <div class='col-xs-12'>
                                        <div>
                                            <label>Session Narrative</label>
                                        </div>

                                        <textarea class='form-control' 
                                            data-bind='value: sessionNotes, valueUpdate:"keyup"' 
                                            rows='5'></textarea>
                                        <div data-bind='visible: !$data.sessionNotes.isValid() && $root.showErrors()'>
                                            <span class='help-block'>Session notes must be at least 25 characters long.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='row'>
                    <div class='col-xs-12' style='padding-right:0px'>
                        <input class='form-control pull-left' 
                            data-bind='checked: $data.sessionNotes().finalize' 
                            type='checkbox' style='width:34px'/>
                        <div style='padding-top: 10px;' style='pull-left'>
                            <label style='margin-left:4px'>By checking this box, I acknowledge that the information present here is factual and accurate.</label>
                        </div>
                    </div>
                </div>

                <br/>
                <div class='alert alert-danger' data-bind='visible: $data.showErrors' role='alert'>
                    Please correct the highlighted fields before saving.
                </div>
                <div class='alert alert-warning' data-bind='visible: !$data.sessionNotes().allAttendeesHaveDiagnosticCodes() && $data.showErrors() && $data.sessionNotes().finalize()'>
                    All attendees must have diagnostic codes selected prior to being finalized.
                </div>
                <div class='alert alert-success' data-bind='visible: $data.showSuccess' role='alert'>
                    Changes saved.
                </div>

                <div class='row'>
                    <div class='col-sm-12'>
                        <div class='pull-right'>
                            <a class='btn btn-default' data-bind='visible: !!$data.sessionNotes().previous(), 
                            click:function(){$data.previous();},
                            css:{disabled: $data.locked()||$data.saving()}' href='#'><span class="glyphicon glyphicon-chevron-left"></span> Previous</a>
                        <a class='btn btn-primary' data-bind='click:function(){$data.save();}, css:{disabled: $data.locked()||$data.saving()}' href='#'><span class='glyphicon glyphicon-ok-circle'></span> Save</a>
                        <a class='btn btn-default' href='/<%= districtCode %>'><span class='glyphicon glyphicon-remove-circle'></span> Cancel</a>
                        <a class='btn btn-default' 
                            data-bind='visible: !!$data.sessionNotes().next(), click:function(){$data.next();},css:{disabled: $data.locked()||$data.saving()}' 
                            href='#'>Next <span class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<% include ../schedule/attendeesTemplate %>
<script src='/js/ko/sessionNotes.js?v=<%= version%>'></script>
<script src='/js/ko/schedule.js?v=<%= version%>'></script>
<script type='text/javascript'>
$(document).ready(function () {
    var snwm = new SessionNotesWrapperModel('<%= districtCode %>', '<%= scheduleId %>');
    ko.applyBindings(snwm, $('#session').get(0));
    console.log('ready');
});
</script>

<script type='text/javascript'>
    /* set the default status of the sessions view */
    $('#hiddenSessionSchedule').hide();
    $('#hiddenSessionSummary').show();

</script>
