<% layout( '../layout-inprogress') %>
    <div class="container">
        <div>
            <div class='panel panel-default' id='session'>
                <div class='panel-heading'>
                    <div class='row' data-bind='with: sessionNotes()'>
                        <div class='col-md-3'>
                            <h3>Session Notes</h3>
                        </div>
                        <div class='col-sm-3' data-bind='visible:!$root.loading()'>
                            <div class='form-group'>
                                <label class='control-label'>Provider</label>
                                <p class='form-control-static'>
                                    <span data-bind='text:$data.providerName'></span>
                                </p>
                            </div>
                        </div>
                        <div class='col-sm-3' data-bind='visible:!$root.loading()'>
                            <div class='form-group'>
                                <label class='control-label'>Service</label>
                                <p class='form-control-static' data-bind='text: serviceType'></p>
                            </div>
                        </div>
                        <div class='col-sm-3' data-bind='visible:!$root.loading()'>
                            <label class='control-label'>Procedure Code</label>
                            <div>
                                <div class='btn-group' style='width:100%'>
                                    <span data-bind='text: selectedProcedureCode'></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class='panel-body' data-bind='visible: loading()'>
                <img class='img-responsive' style='margin:0 auto' src='/images/loading.GIF'/>
            </div>
                <div class='panel-body' style='display:none;'  data-bind='visible:!$root.loading()'>
                    <div class='form-horizontal'>
                        <div data-bind='with: sessionNotes()'>
                            <div class='row col-sm-12'></div>
                            <div class='row'>
                                <div>
                                    <div data-bind='with: schedule'>
                                        <div data-bind='visible:!$parent.showSchedule()'>
                                            <div class='col-md-12'>
                                                <strong>Session Date:&nbsp;</strong>
                                                <span data-bind="text: date" style='padding-right: 12px'></span>
                                                <strong>Start Time:&nbsp;</strong>
                                                <span data-bind="text: startTime" style='padding-right: 12px'></span>
                                                <strong>Duration:&nbsp;</strong>
                                                <span data-bind="text: duration() + ' minutes'" style='padding-right: 12px'></span>
                                                <strong>Location:&nbsp;</strong>
                                                <span data-bind="text: location" style='padding-right: 12px'></span>
                                            </div>
                                            <p>&nbsp;</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class='list-group'>
                                <li class='list-group-item'>
                                    <div class='row'>
                                        <div class='col-xs-2'> <strong>Name</strong> 
                                        </div>
                                        <div class='col-xs-2'> <strong>Student ID</strong> 
                                        </div>
                                        <div class='col-xs-1'> <strong>DOB</strong> 
                                        </div>
                                        <div class='col-xs-2' style='text-align:center'> <strong>Absent?</strong> 
                                        </div>
                                    </div>
                                </li>
                                <!-- ko foreach: attendees -->
                                <li class='list-group-item'>
                                    <div class='row'>
                                        <div class='col-xs-2'>
                                            <a data-bind='attr:{href:"/<%= districtCode %>/student/"+$data.internalStudentId()}, text: $data.name'></a>
                                        </div>
                                        <div class='col-xs-2'> <span data-bind='text: studentId'></span> 
                                        </div>
                                        <div class='col-xs-1'> <span data-bind='text: dateOfBirth'></span> 
                                        </div>
                                        <div class='col-xs-2'>
                                            <input class='form-control' data-bind='checked: absent' type='checkbox' disabled style='width:34px;margin-left:34px' />
                                        </div>
                                    </div>
                                    <div class='row'>
                                        <div class='col-xs-12'> <strong>Diagnostic Code:&nbsp;</strong>  <span data-bind='css:{"text-danger": $root.showErrors() && $data.diagnosticCode() == "Not Selected" && $parent.finalize()}'> <span data-bind='text: diagnosticCode'></span> </span>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class='row'>
                                        <div class='col-xs-12'>
                                            <div><strong>Medicaid Progress Narrative</strong>
                                            </div>
                                            <div>
                                                <div class='form-group' data-bind='css:{"has-error": !$data.absenceReason.isValid() && $root.showErrors()}'>
                                                    <div class='col-xs-12'>
                                                        <pre data-bind='text: individualNote'></pre>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='row'>
                                        <div class='col-xs-12' data-bind='visible: $data.absent()'>
                                            <div><strong>Absence Reason</strong>
                                            </div>
                                            <div>
                                                <div class='form-group' data-bind='css:{"has-error": !$data.absenceReason.isValid() && $root.showErrors()}'>
                                                    <div class='col-xs-12'>
                                                        <pre data-bind='text: absenceReason'></pre>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <!-- /ko -->
                            </ul>
                            <div class='row'>
                                <div class='col-xs-12'>
                                    <div class='form-group' data-bind='css:{"has-error": !$data.sessionNotes.isValid() && $root.showErrors()}'>
                                        <div class='col-xs-12'>
                                            <div>
                                                <label>Session Narrative</label>
                                            </div>
                                            <pre data-bind='text: sessionNotes'></pre>
                                            <div data-bind='visible: !$data.sessionNotes.isValid() && $root.showErrors()'> <span class='help-block'>Session notes must be at least 25 characters long.</span> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12' style='padding-right:0px'>
                            <input class='form-control pull-left' data-bind='checked: $data.sessionNotes().finalize' type='checkbox' style='width:34px' disabled />
                            <div style='padding-top: 10px;' style='pull-left'>
                                <label style='margin-left:4px'>By checking this box, I acknowledge that the information present here is factual and accurate.</label>
                            </div>
                        </div>
                    </div>
                    <br/>

<div class='row'>
                <div class='col-xs-2'>
                    <div class='pull-left' data-bind='visible: !$data.sessionNotes().billed()'>
                        <a class='btn btn-warning' data-bind='click: function(){$data.unfinalize();}'>
                            <span class='glyphicon glyphicon-exclamation-sign'></span>    
                        Unfinalize</a>
                    </div>
                </div>
                <div class='col-xs-10'>
                <div class='pull-right'>
                <a class='btn btn-default' data-bind='visible: !!$data.sessionNotes().previous(), 
                            click:function(){$data.previous();}' href='#'><span class="glyphicon glyphicon-chevron-left"></span> Previous</a>
                <a class='btn btn-default' href='/<%= districtCode %>'>Upcoming Caseload</a>
                <a class='btn btn-default' 
                    data-bind='visible: !!$data.sessionNotes().next(), click:function(){$data.next();}' 
                    ><span class="glyphicon glyphicon-chevron-right"></span>Next</a>
                    </div>
                </div>
                </div>


            </div>
        </div>
    </div>
    <% include ../schedule/attendeesTemplate %>
        <script src='/js/ko/sessionNotes.js?v=<%= version%>'></script>
        <script src='/js/ko/schedule.js?v=<%= version%>'></script>
<script type='text/javascript'>
$(document).ready(function () {
    var snwm = new SessionNotesWrapperModel('<%= districtCode %>', '<%= scheduleId %>');
    ko.applyBindings(snwm, $('#session').get(0));
    $(document).ajaxStop(function(){
setTimeout(function(){
            snwm.loading(false);
           },100);
                         });
    console.log('ready');
});
</script>


        <script type='text/javascript'>
            /* set the default status of the sessions view */
            $('#hiddenSessionSchedule').hide();
            $('#hiddenSessionSummary').show();
        </script>
