<% layout( '../layout-inprogress') %>
<div class="container">
 <h2>District not found</h2>
 <div>
    Please return to <a href='/districtSelection'>district selection</a> to select a district.
 </div>
</div>
