<script id='attendeesModal' type='text/html'>
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h3>Edit Attendees</h3>
            </div>
            <div class='modal-body'>
                <div class='container center-block'>
                    <div class='row'>
                        <div class='col-xs-4'>
                            <h4>Possible Attendees:</h4>
                            <div class='list-group' data-bind='foreach: $data.attendeesModal.possibleStudentsFiltered' style='height:300px; overflow-y:scroll;'>
                                <a class='list-group-item' data-bind='click: function(){$parent.attendeesModal.togglePossibleAttendeeSelection($data.serviceId())}, css: {active: $parent.attendeesModal.selectedPossibleAttendees().indexOf($data.serviceId())> -1}' href='#'>
                                    <h4 class='list-group-item-heading' data-bind='text: $data.name'></h4>
                                    <p class='list-group-item-text'>
                                        <span>Freq/Duration:&nbsp;</span>
                                        <span data-bind='text: $data.frequencyAndDuration'></span>
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class='col-xs-1'>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <div class='btn-group-vertical' style='top: 100px'>
                                <a class='btn btn-default' data-bind='click:function(){$parent.attendeesModal.movePossible();}' href='#'>&gt;</a>
                                <a class='btn btn-default' data-bind='click:function(){$parent.attendeesModal.removeAttendees();}' href='#'>&lt;</a>
                            </div>
                        </div>
                        <div class='col-xs-4'>
                            <h4>Selected Attendees</h4>
                            <div class='list-group' data-bind='foreach: $data.attendeesModal.selectedStudents' style='height:300px; overflow-y:scroll;'>
                                <a class='list-group-item' data-bind='
                                    click: function(){
                                        $parent.attendeesModal.toggleAttendeeSelection($data.serviceId())
                                    }, css: {
                                        active: $parent.attendeesModal.selectedAttendees().indexOf($data.serviceId())> -1,
                                        "disabled-student": $parent.attendeesModal.selectedStudents().length == 1
                                    }' href='#'>
                                    <h4 class='list-group-item-heading' data-bind='text: $data.name'></h4>
                                    <p class='list-group-item-text'>
                                        <span>Freq/Duration:&nbsp;</span>
                                        <span data-bind='text: $data.frequencyAndDuration'></span>
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='modal-footer'>
                <a class='btn btn-default' data-bind='click:close' href='#'><span class='glyphicon glyphicon-remove-circle'></span> Cancel</a>
                <a class='btn btn-primary' data-bind='click:action' href='#'><span class='glyphicon glyphicon-ok-circle'></span> OK</a>
            </div>
        </div>
    </div>
</script>
