<div class='row'>
    <div class='col-sm-12'>
        <div class='col-sm-5'>
            <div class='form-group'>
            <label class='control-label col-sm-2 col-sm-push-1'>Date: </label>
                <div class='col-sm-7 col-sm-push-2'>
                    <div class='input-group date' data-bind='datePicker:{value: $data.date, format:"M/D/YYYY"}'>
                        <input class='form-control' disabled data-bind='value: $data.date'/>
                        <span class='input-group-btn'>
                            <a class='btn btn-default'>
                                <span class='glyphicon glyphicon-calendar'></span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class='col-sm-7 col-sm-push-1'>
            <div class='form-group'>
            <label class='control-label col-sm-3'>Start Time: </label>
                <div class='col-sm-4'>
                    <div class='input-group date' data-bind='timePicker:{value: $data.startTime, format:"h:mm a", minuteStep: 15}'>
                        <input class='form-control' disabled data-bind='value: $data.startTime'/>
                        <span class='input-group-btn'>
                            <a class='btn btn-default'>
                                <span class='glyphicon glyphicon-time'></span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>

<div class="row">
    <div class='col-sm-12'>
        <div class='col-sm-5'>
            <div class='form-group' data-bind='css:{"has-error":!$data.location.isValid() && $root.showErrors()}'>
                    <label class='control-label col-sm-2 col-sm-push-1'>Location: </label>
                <div class='col-sm-7 col-sm-push-2'>
                    <div class='input-group'>
                        <input class='form-control' data-bind='value: $data.location'/>
                    </div>
                    <div data-bind='visible: !$data.location.isValid() && $root.showErrors()'>
                        <span class='help-block'>Please enter a location.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-sm-7 col-sm-push-1'>
            <% include duration.ejs %>
        </div>
    </div>
</div>


    

