<div class='form-group' data-bind='css:{"has-error": !$data.duration.isValid() && $root.showErrors()}'>
    <label class='control-label col-sm-2 col-sm-push-1'>Duration: </label>
    <div class='col-sm-4 col-sm-push-1'>
        <div class='btn-group'>
            <button class='btn btn-default dropdown-toggle' data-toggle='dropdown' type='button'>
                <span data-bind='text: (!($data.duration()) ? "Select one...": ($data.duration() + " minutes")) '></span>
                <span class='caret'></span>
            </button>
            <ul class='dropdown-menu'>
                <li><a class='list-group-item' data-bind='click:function(){$data.duration(15);}, css:{active: $data.duration() === 15}' href='#'>15 minutes</a></li>
                <li><a data-bind='click:function(){$data.duration(30);}, css:{active: $data.duration() === 30}' href='#'>30 minutes</a></li>
                <li><a data-bind='click:function(){$data.duration(45);}, css:{active: $data.duration() === 45}' href='#'>45 minutes</a></li>
                <li><a data-bind='click:function(){$data.duration(60);}, css:{active: $data.duration() === 60}' href='#'>60 minutes</a></li>
                <li><a data-bind='click:function(){$data.duration(75);}, css:{active: $data.duration() === 75}' href='#'>75 minutes</a></li>
                <li><a data-bind='click:function(){$data.duration(90);}, css:{active: $data.duration() === 90}' href='#'>90 minutes</a></li>
            </ul>
        </div>
        <div data-bind='visible: !$data.duration.isValid() && $root.showErrors()'>
            <span class='help-block'>Please select a duration.</span>
        </div>
    </div>
</div>

