<div class="row">
    <div class="col-sm-12">
        <div class='form-group'>
            <div class='col-sm-1' data-bind='css:{"has-error": $data.ends().errors().length > 0 && $root.showErrors()}'>
                <label class='control-label'>Ends: </label>
            </div>
            <div class='col-sm-11'>
                <div class='list-group' data-bind='with: $data.ends'>
                    <div class='list-group-item' 
                        data-bind='click:function(){$data.never(true); $data.endType("Never");}, 
                                    css: {active: $data.endType()==="Never"}'>Never</div>
                    <div class='list-group-item' 
                        data-bind='click:function(){$data.never(false); $data.endType("Occurrences");}, 
                                    css: {active: $data.endType()==="Occurrences"}'>
                        <span>After</span>
                        <input class='form-control' 
                                data-bind='value: $data.occurrences' 
                                style='width:auto; display:inline' 
                                type='text'/>
                        <span>Occurrences</span>
                    </div>
                    <div class='list-group-item' 
                        data-bind='click:function(){$data.never(false); $data.endType("On");}, 
                                    css: {active: $data.endType()==="On"}'>
                        <div class='input-group date' 
                                data-bind='datePicker:{value: $data.endDate, format:"M/D/YYYY"}'>
                            <input class='form-control' 
                                    disabled data-bind='value: $data.endDate'/>
                            <span class='input-group-btn'>
                                <a class='btn btn-default' data-bind='click: function(){$data.never(false);$data.endType("On");}'>
                                    <span class='glyphicon glyphicon-calendar'></span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div data-bind='css:{"has-error": $data.ends().errors().length > 0 && $root.showErrors()}'>
                    <div data-bind='visible: !$data.ends().endType.isValid() && $root.showErrors()'>
                        <span class='help-block'>Please pick an end type.</span>
                    </div>
                    <div data-bind='visible: !$data.ends().occurrences.isValid() 
                                    && $root.showErrors() 
                                    && $data.ends().endType()==="Occurrences"'>
                        <span class='help-block'>Please make sure occurrences is a number.</span>
                    </div>
                    <div data-bind='visible: !$data.ends().endDate.isValid() 
                                    && $root.showErrors() 
                                    && $data.ends().endType()==="On"'>
                        <span class='help-block'>Please pick an end date.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
