<% layout( '../layout-inprogress') %>
<div class="container">
    <div>
        <div id='schedule'>
            <div class='panel panel-default'>
                <div class='panel-heading'>Schedule a Session</div>
                <div class='panel-body' id='loading'>

                        <img class='img-responsive' style='margin:0 auto' src='/images/loading.GIF'/>
                </div>
                <div class='panel-body' style='display:none;' id='scheduleContent'>
                    <div class='form-horizontal'>
                        <div class='row'>
                            <div class='col-md-5'>
                                <div class='form-group'>
                                    <label class='control-label col-sm-2'>Provider: </label>
                                    <p class='form-control-static col-sm-10' data-bind='text: providerName'></p>
                                </div>
                            </div>
                            <div class='col-md-5'>
                                <div class='form-group'>
                                    <label class='control-label col-sm-2'>Service: </label>
                                    <p class='form-control-static col-sm-10' data-bind='text: serviceName'></p>
                                </div>
                            </div>
                            <div class='col-md-2'>
                                <a class='btn btn-primary' 
                                data-bind='click:function(){$data.attendeesModal.open();}' 
                                href='#'><span class='glyphicon glyphicon glyphicon-edit'></span> Edit Attendees</a>
                                <div data-backdrop='static' 
                                data-bind='modal_old:{properties: attendeesModal, template: "attendeesModal"}' 
                                data-keyboard='false'></div>
                            </div>
                        </div> <!-- row -->
                        <p>&nbsp;</p>

                        <div>
                            <table class='table'>
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Student ID</th>
                                        <th>Service</th>
                                        <th>Frequency</th>
                                        <th>Diagnostic Code</th>
                                        <!--<th>&nbsp;</th> -->
                                    </tr>
                                </thead>
                                <tbody data-bind='foreach: students'>
                                    <tr>
                                        <td data-bind='text: $data.name'>[student name]</td>
                                        <td data-bind='text: $data.studentId'>[student id]</td>
                                        <td data-bind='text: $data.serviceType'>[service type]</td>
                                        <td data-bind='text: $data.frequencyAndDuration'>[frequency/duration]</td>
                                        <td data-bind='text: $data.diagnosticCode'>[diagnostic code]</td>
                                        <!--<td>
                                            <div class='btn-group'>
                                                <a class='btn btn-default' data-bind='click: function(){$root.removeStudent($data.studentId());}' href='#'>Remove</a>
                                            </div>
                                        </td>-->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p>&nbsp;</p>
                        <div class='panel panel-default'>
                            <nav class="navbar navbar-default" role="navigation">
                                <div class="navbar-header">
                                    <button class="navbar-toggle" 
                                            data-target="#scheduleBar" 
                                            data-toggle="collapse" 
                                            type="button">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand" href="#">Schedule</a>
                                </div>
                                <div class="collapse navbar-collapse navbar-ex1-collapse" id="scheduleBar">
                                    <ul class="nav navbar-nav">
                                        <li data-bind='css:{active: selected()==="One Time"}'>
                                            <a data-bind='click: function(){selected("One Time");}' href="#">One Time</a>
                                        </li>
                                        <li data-bind='css:{active:selected()==="Weekly"}'>
                                            <a data-bind='click: function(){selected("Weekly");}' href="#">Weekly</a>
                                        </li>
                                        <li data-bind='css:{active:selected()==="Monthly"}'>
                                            <a data-bind='click: function(){selected("Monthly");}' href="#">Monthly</a>
                                        </li>
                                        <li data-bind='css:{active:selected()==="Yearly"}'>
                                            <a data-bind='click: function(){selected("Yearly");}' href="#">Yearly</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                            <div class='panel-body'>
                                <div data-bind='visible: $data.selected()==="One Time"'>
                                    <div data-bind='with: $data.oneTime'>
                                        <div class="row">
                                            <% include oneTime.ejs %>
                                        </div>
                                    </div>
                                </div>
                                <div data-bind='visible: $data.selected()==="Weekly"'>
                                    <div data-bind='with: $data.weekly'>
                                        <div class="row">
                                            <% include weekly.ejs %>
                                        </div>
                                    </div>
                                </div>
                                <div data-bind='visible: $data.selected()==="Monthly"'>
                                    <div data-bind='with: $data.monthly'>
                                        <div class="row">
                                            <% include monthly.ejs %>
                                        </div>
                                    </div>
                                </div>
                                <div data-bind='visible: $data.selected()==="Yearly"'>
                                    <div data-bind='with: $data.yearly'>
                                        <div class="row">
                                            <% include yearly.ejs %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class='btn btn-primary' data-bind='click:function(){$data.save();}' href='#'><span class='glyphicon glyphicon-ok-circle'></span> Save</a>
                    <a class='btn btn-default' href='/<%= districtCode %>'><span class='glyphicon glyphicon-remove-circle'></span> Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src='/js/ko/schedule.js?v=<%= version%>'></script>
<% include attendeesTemplate %>
<script type='text/javascript'>
    $(document).ready(function () {

                      setTimeout(function(){

        $.ajax({
            url : '/<%= districtCode %>/schedule/scheduleInfo',
            type: 'POST',
            data: {
                serviceId : '<%= serviceId %>',
                scheduleId: '<%= scheduleId %>'
            }
        }).done(function (response) {
            //todo: pull schedule data for this schedule
            var scm = new ScheduleContainerModel('<%= districtCode %>', response);
            ko.applyBindings(scm, $('#schedule').get(0));
            $('#scheduleContent').show();
            $('#loading').hide();

        });
        }, 100);
    });

</script>
