<% include commonScheduling.ejs %>

<div class='row'>
    <label class='control-label col-sm-2'>Repeat By:</label>
    <div class='col-sm-10'>

        <div class='horizontal-form'>
            <div class='form-group' data-bind='css:{"has-error": !$data.repeatBy.isValid()&& $root.showErrors()}'>
                
                    <div class='btn-group-vertical'>
                        <a class='btn btn-default btn-sm' 
                        data-bind='css:{"btn-primary": $data.hasDayOfMonth()}, 
                                    click:function(){$data.repeatbyModify("day of month", true);}' 
                        href='#'>Day Of Month (<span data-bind='text: $data.dayOfMonthDisplay'></span>)</a>
                        <a class='btn btn-default btn-sm' 
                        data-bind='css:{"btn-primary": $data.hasDayOfWeek()}, 
                            click:function(){$data.repeatbyModify("day of week", true);}' 
                        href='#'>Day Of Week (<span data-bind='text: $data.dayOfWeekInMonthDisplay'></span>)</a>
                    </div>
                    <div data-bind='visible: !$data.repeatBy.isValid() && $root.showErrors()'>
                        <span class='help-block'>Please select a type of repetition.</span>
                    </div>
            </div>
        </div>
    </div>
</div>

<div class='row'>
    <div class='col-sm-10 col-sm-push-1'>
        <% include ends.ejs %>
    </div>
</div>

