<% include commonScheduling.ejs %>  

<div class='row'>
    <label class='control-label col-sm-2'>Repeats On: </label>
    <div class='col-sm-10'>
        
        <div class='horizontal-form'>
              <div class='form-group' data-bind='css:{"has-error": !$data.repeatBy.isValid() && $root.showErrors()}'>

                    <div>
                        <div class='btn-group'>
                            <a class='btn btn-default btn-sm' 
                                data-bind='css:{"btn-primary": $data.hasMonday()}, 
                                            click:function(){$data.repeatbyModify("monday");}' 
                                href='#'>Monday</a>
                            <a class='btn btn-default btn-sm' 
                                data-bind='css:{"btn-primary": $data.hasTuesday()}, 
                                            click:function(){$data.repeatbyModify("tuesday");}' 
                                href='#'>Tuesday</a>
                            <a class='btn btn-default btn-sm' 
                                data-bind='css:{"btn-primary": $data.hasWednesday()}, 
                                            click:function(){$data.repeatbyModify("wednesday");}' 
                                href='#'>Wednesday</a>
                            <a class='btn btn-default btn-sm' 
                                data-bind='css:{"btn-primary": $data.hasThursday()}, 
                                            click:function(){$data.repeatbyModify("thursday");}' 
                                href='#'>Thursday</a>
                            <a class='btn btn-default btn-sm' 
                                data-bind='css:{"btn-primary": $data.hasFriday()}, 
                                            click:function(){$data.repeatbyModify("friday");}' 
                                href='#'>Friday</a>
                        </div>
                        <div data-bind='visible: !$data.repeatBy.isValid() && $root.showErrors()'>
                            <span class='help-block'>Please select at least one day.</span>
                        </div>
                    </div>
                </div>
            </div>
     </div>   
</div>
    

<div class='row'>
    <div class='col-sm-10 col-sm-push-1'>
        <% include ends.ejs %>
    </div>
</div>


