<script id='parentalConsentModal' type='text/html'>
    <div class='modal-dialog modal-lg' style='padding-top:150px'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h3>Parental Consent</h3>
                <h4>
                    <span data-bind='text: $root.studentName()'></span>
                    (<span data-bind='text: $root.studentId()'></span>)
                </h4>
            </div>
            <div class='modal-body'>
                <div class='container'>
                    <div class='form-horizontal'>
                        <div class='form-group' data-bind='css:{"has-error": !$data.parentalConsentModal.data().toShareIEP.isValid() && $data.parentalConsentModal.showErrors()}'>
                            <label class='control-label col-sm-2'>To Share IEP:</label>
                            <div class='col-sm-4'>
                                <div class='input-group date' data-bind='datePicker:{value: $data.parentalConsentModal.data().toShareIEP, format: "M/D/YYYY"}'>
                                    <input class='form-control' style='border-right: 0px' data-bind='value: $data.parentalConsentModal.data().toShareIEPDisplay()' disabled/>
                                    <span class='input-group-btn'>
                                        <a class='btn btn-default' style='border-radius:0px' data-bind='click: function(){$data.parentalConsentModal.data().toShareIEP(null);}'>
                                            <span class='glyphicon glyphicon-remove'></span>
                                        </a>
                                    </span>
                                    <span class='input-group-btn datepickerbutton'>
                                        <a class='btn btn-default'>
                                            <span class='glyphicon glyphyicon-calendar'></span>
                                        </a>
                                    </span>
                                </div>
                                <div>
                                    <span class='help-block' data-bind='visible: !$data.parentalConsentModal.data().toShareIEP.isValid() && $data.parentalConsentModal.showErrors()'>Please pick an IEP Share date.</span>
                                </div>
                            </div>
                        </div>
                        <div class='form-group'>
                            <label class='control-label col-sm-2'>To Share IEP Denied?</label>
                            <div class='col-sm-4'><input class='form-control' data-bind='checked: $data.parentalConsentModal.data().toShareIEPDenied' style='width: 34px' type='checkbox'/>
                            </div>
                        </div>
                        <div class='form-group' data-bind='css:{"has-error": !$data.parentalConsentModal.data().toBillMedicaid.isValid() && $data.parentalConsentModal.showErrors()}'>
                            <label class='control-label col-sm-2'>Approval to Bill:</label>
                            <div class='col-sm-4'>
                                <div class='input-group date' data-bind='datePicker:{value: $data.parentalConsentModal.data().toBillMedicaid, format: "M/D/YYYY"}'>
                                    <input class='form-control' style='border-right: 0px' data-bind='value: $data.parentalConsentModal.data().toBillMedicaidDisplay()' disabled/>
                                    <span class='input-group-btn'>
                                        <a class='btn btn-default' style='border-radius:0px' data-bind='click: function(){$data.parentalConsentModal.data().toBillMedicaid(null);}'>
                                            <span class='glyphicon glyphicon-remove'></span>
                                        </a>
                                    </span>
                                    <span class='input-group-btn datepickerbutton'>
                                        <a class='btn btn-default'>
                                            <span class='glyphicon glyphyicon-calendar'></span>
                                        </a>
                                    </span>
                                </div>
                                <div>
                                    <span class='help-block' data-bind='visible: !$data.parentalConsentModal.data().toBillMedicaid.isValid() && $data.parentalConsentModal.showErrors()'>Please pick a Medicaid billing consent date.</span>
                                </div>
                            </div>
                        </div>
                        <div class='form-group'>
                            <label class='control-label col-sm-2'>Approval to Bill Denied?</label>
                            <div class='col-sm-4'><input class='form-control' data-bind='checked: $data.parentalConsentModal.data().toBillMedicaidDenied' style='width: 34px' type='checkbox'/>
                            </div>
                        </div>
                        <div class='form-group' data-bind='css:{"has-error": !$data.parentalConsentModal.data().toTreat.isValid() && $data.parentalConsentModal.showErrors()}'>
                            <label class='control-label col-sm-2'>Annual Notice Provided:</label>
                            <div class='col-sm-4'>
                                <div class='input-group date' data-bind='datePicker:{value: $data.parentalConsentModal.data().toTreat, format: "M/D/YYYY"}'>
                                    <input class='form-control' style='border-right:0px' data-bind='value: $data.parentalConsentModal.data().toTreatDisplay()' disabled/>
                                    <span class='input-group-btn'>
                                        <a class='btn btn-default' style='border-radius: 0px' data-bind='click: function(){$data.parentalConsentModal.data().toTreat(null);}'>
                                            <span class='glyphicon glyphicon-remove'></span>
                                        </a>
                                    </span>
                                    <span class='input-group-btn datepickerbutton'>
                                        <a class='btn btn-default'>
                                            <span class='glyphicon glyphyicon-calendar'></span>
                                        </a>
                                    </span>
                                </div>
                                <div>
                                    <span class='help-block' data-bind='visible: !$data.parentalConsentModal.data().toTreat.isValid() && $data.parentalConsentModal.showErrors()'>Please pick a treatment consent date.</span>
                                </div>
                            </div>
                        </div>
                        <div class='form-group'>
                            <label class='control-label col-sm-2'>Annual Notice Denied?</label>
                            <div class='col-sm-4'><input class='form-control' data-bind='checked: $data.parentalConsentModal.data().toTreatDenied' style='width: 34px' type='checkbox'/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='modal-footer'>
                    <a class='btn btn-default' data-bind='click:close' href='#'><span class='glyphicon glyphicon-remove-circle'></span> Cancel</a>
                    <a class='btn btn-primary' data-bind='click:action' href='#'><span class='glyphicon glyphicon-ok-circle'></span> Save</a>
                </div>
            </div>
        </div>
    </script>
