<script id='prescriptionModal' type='text/html'>
    <div class='modal-dialog modal-lg' style='padding-top:150px'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h3>Prescription</h3>
                <h4>
                    <span data-bind='text: $root.studentName()'></span>
                    (<span data-bind='text: $root.studentId()'></span>)
                </h4>
            </div>
            <div class='modal-body'>
                <div class='container'>
                    <div class='form-horizontal'>
                       <div class='form-group' data-bind='css:{"has-error": !$data.prescriptionModal.data().startDate.isValid() && $data.prescriptionModal.showErrors()}'>
                            <label class='control-label col-sm-2'>Start Date:</label>
                            <div class='col-sm-6'>
                                <div class='input-group date' data-bind='datePicker:{value: $data.prescriptionModal.data().startDate, format:"M/D/YYYY"}'>
                                    <input class='form-control' data-bind='value: $data.prescriptionModal.data().startDateDisplay' disabled/>
                                    <span class='input-group-btn'>
                                        <a class='btn btn-default'>
                                            <span class='glyphicon glyphicon-calendar'></span>
                                        </a>
                                    </span>
                                </div>
                                <div>
                                    <span class='help-block' data-bind='
                                        visible: !$data.prescriptionModal.data().startDate.isValid() && 
                                                $data.prescriptionModal.showErrors() && 
                                                $data.prescriptionModal.data().dateRangeValid()'>Please enter a start date.</span>
                                    <span class='help-block' data-bind='
                                        visible: !$data.prescriptionModal.data().startDate.isValid() && 
                                                $data.prescriptionModal.showErrors() && 
                                                !$data.prescriptionModal.data().dateRangeValid()'>Start date must be before end date.</span>

                                </div>
                            </div>
                        </div>
                        <div class='form-group' data-bind='css:{"has-error": !$data.prescriptionModal.data().endDate.isValid() && $data.prescriptionModal.showErrors()}'>
                            <label class='control-label col-sm-2'>Expiration Date:</label>
                            <div class='col-sm-6'>
                                <div class='input-group date' data-bind='datePicker:{value: $data.prescriptionModal.data().endDate, format:"M/D/YYYY"}'>
                                    <input class='form-control' data-bind='value: $data.prescriptionModal.data().endDateDisplay' disabled/>
                                    <span class='input-group-btn'>
                                        <a class='btn btn-default'>
                                            <span class='glyphicon glyphicon-calendar'></span>
                                        </a>
                                    </span>
                                </div>
                                <div>
                                    <span class='help-block' data-bind='visible: !$data.prescriptionModal.data().endDate.isValid() && $data.prescriptionModal.showErrors()'>Please enter an expiration date.</span>
                                </div>
                            </div>
                        </div>
                        <div class='form-group' data-bind='css:{"has-error": !$data.prescriptionModal.data().serviceType.isValid() && $data.prescriptionModal.showErrors()}'>
                            <label class='control-label col-sm-2'>Specialty:</label>
                            <div class='col-sm-6'>
                                <div class='btn-group'>
                                    <button class='btn btn-default dropdown-toggle' data-toggle='dropdown' type='button'>
                                        <span data-bind='text: $data.prescriptionModal.data().serviceTypeDisplay()'></span>
                                        <span class='caret'></span>
                                    </button>
                                    
                                    <ul class='dropdown-menu' data-bind='foreach: $data.prescriptionModal.therapyOptions()' role='menu'>
                                        <li>
                                            <a data-bind='click: function(){$parent.prescriptionModal.data().serviceType($data.service());}, text: $data.service()' href='#'></a>
                                        </li>
                                    </ul>
                                </div>
                                <div>
                                    <span class='help-block' data-bind='visible: !$data.prescriptionModal.data().serviceType.isValid() && $data.prescriptionModal.showErrors()'>Please select a specialty.</span>
                                </div>
                            </div>
                        </div>
                        <div class='form-group' data-bind='css:{"has-error": !$data.prescriptionModal.data().doctorName.isValid() && $data.prescriptionModal.showErrors()}'>
                            <label class='control-label col-sm-2'>Doctor Name:</label>
                            <div class='col-sm-6'>
                                <div>
                                    <input class='form-control' data-bind='value: $data.prescriptionModal.data().doctorName' type='text'/>
                                </div>
                                <div>
                                    <span class='help-block' data-bind='visible: !$data.prescriptionModal.data().doctorName.isValid() && $data.prescriptionModal.showErrors()'>Please enter a doctor name.</span>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class='modal-footer'>
                <a class='btn btn-default' data-bind='click:close' href='#'><span class='glyphicon glyphicon-remove-circle'></span> Cancel</a>
                <a class='btn btn-primary' data-bind='click:action' href='#'><span class='glyphicon glyphicon-ok-circle'></span> Save</a>
            </div>
        </div>
    </div>
</script>
