<script id='serviceModel' type='text/html'>
    <div class='modal-dialog modal-lg' style='padding-top:150px;'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h3>
                    Select Diagnostic Code
                </h3>
                <h4>
                    <span data-bind='text: $root.studentName()'></span>
                    (<span data-bind='text: $root.studentId()'></span>):
                    <span data-bind='text: $data.serviceModal.data().service()'></span>
                </h4>
            </div>
            <div class='modal-body'>
                <div class='container'>
                    <div class='form-horizontal'>
                        <div class='form-group' data-bind='css:{"has-error": !$data.serviceModal.data().diagnosticCode.isValid() && $data.serviceModal.showErrors()}'>
                            <label class='control-label col-sm-2'>Diagnostic Code:</label>
                            <div class='col-sm-10'>
                                <div data-bind='visible: $data.serviceModal.options().length > 0'>
                                    <div class='btn-group'>
                                        <button class='btn btn-default dropdown-toggle' data-toggle='dropdown' type='button'>
                                            <span data-bind='text: $data.serviceModal.data().diagnosticCodeDisplay()'></span>
                                            <span class='caret'></span>
                                        </button>
                                        <ul class='dropdown-menu' data-bind='foreach: $data.serviceModal.options()' role='menu'>
                                            <li>
                                                <a data-bind='click: function(){
                                                    $parent
                                                        .serviceModal
                                                        .data()
                                                        .diagnosticCode($data.diagnosticCodeId());
                                                }, text: $data.icd() + " - " + $data.description()' href='#'></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div> 
                                <div data-bind='visible: $data.serviceModal.options().length == 0'>
                                    There are no current diagnostic codes available.  Please contact your system administrator.
                                </div>
                                <div>
                                        <span class='help-block' data-bind='visible: !$data.serviceModal.data().diagnosticCode.isValid() && $data.serviceModal.showErrors()'>Please select a diagnostic code.</span>
                                </div>
                            </div>
                        </div>

                        <div>
                            <label class='control-label col-sm-2'>Group Therapy Ordered:</label>
                            <div class='col-sm-10'>
                                    <input class='form-control' style='width: 34px'
                                        data-bind='checked: $data.serviceModal.data().groupTherapyOrdered' 
                                        type='checkbox'/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='modal-footer'>
                <div data-bind='visible: $data.serviceModal.options().length > 0'>
                    <a class='btn btn-default' data-bind='click:close' href='#'><span class='glyphicon glyphicon-remove-circle'></span> Cancel</a>
                    <a class='btn btn-primary' data-bind='click:action' href='#'><span class='glyphicon glyphicon-ok-circle'></span> Save</a>
                </div>
                <div data-bind='visible: $data.serviceModal.options().length == 0'>
                    <a class='btn btn-default' data-bind='click:close' href='#'>OK</a>
                </div>
            </div>
        </div>
    </div>
</script>
