<script id='studentMCOInfoModal' type='text/html'>
    <div class='modal-dialog modal-lg' style='padding-top:150px'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h3>Student MCO Information</h3>
                <h4>
                    <span data-bind='text: $root.studentName()'></span>
                    (<span data-bind='text: $root.studentId()'></span>)
                </h4>
            </div>
            <div class='modal-body'>
                <div class='container'>
                    <div class='form-horizontal'>
                        <div class='form-group' data-bind='css:{"has-error": !$data.studentMCOInfoModal.data().startDate.isValid() && $data.studentMCOInfoModal.showErrors()}'>
                            <label class='control-label col-sm-2'>Start Date:</label>
                            <div class='col-sm-6'>
                                <div class='input-group date' data-bind='datePicker:{value: $data.studentMCOInfoModal.data().startDate, format:"M/D/YYYY"}'>
                                    <input class='form-control' data-bind='value: $data.studentMCOInfoModal.data().startDateDisplay' disabled/>
                                    <span class='input-group-btn'>
                                        <a class='btn btn-default'>
                                            <span class='glyphicon glyphicon-calendar'></span>
                                        </a>
                                    </span>
                                </div>
                                <div>
                                    <span class='help-block' data-bind='
                                        visible: !$data.studentMCOInfoModal.data().startDate.isValid() && 
                                                $data.studentMCOInfoModal.showErrors() && 
                                                $data.studentMCOInfoModal.data().dateRangeValid()'>Please enter a start date.</span>
                                    <span class='help-block' data-bind='
                                        visible: !$data.studentMCOInfoModal.data().startDate.isValid() && 
                                                $data.studentMCOInfoModal.showErrors() && 
                                                !$data.studentMCOInfoModal.data().dateRangeValid()'>Start date must be before end date.</span>
                                </div>
                            </div>
                        </div>
                        <div class='form-group' data-bind='css:{"has-error": !$data.studentMCOInfoModal.data().endDate.isValid() && $data.studentMCOInfoModal.showErrors()}'>
                            <label class='control-label col-sm-2'>Start Date:</label>
                            <div class='col-sm-6'>
                                <div class='input-group date' data-bind='datePicker:{value: $data.studentMCOInfoModal.data().endDate, format:"M/D/YYYY"}'>
                                    <input class='form-control' data-bind='value: $data.studentMCOInfoModal.data().endDateDisplay' disabled/>
                                    <span class='input-group-btn'>
                                        <a class='btn btn-default'>
                                            <span class='glyphicon glyphicon-calendar'></span>
                                        </a>
                                    </span>
                                </div>
                                <div>
                                    <span class='help-block' data-bind='visible: !$data.studentMCOInfoModal.data().endDate.isValid() && $data.studentMCOInfoModal.showErrors()'>Please enter an end date.</span>
                                </div>
                            </div>
                        </div>
                        <div class='form-group' data-bind='css:{"has-error": !$data.studentMCOInfoModal.data().specialty.isValid() && $data.studentMCOInfoModal.showErrors()}'>
                            <label class='control-label col-sm-2'>Specialty:</label>
                            <div class='col-sm-6'>
                                <div class='btn-group'>
                                    <button class='btn btn-default dropdown-toggle' data-toggle='dropdown' type='button'>
                                        <span data-bind='text: $data.studentMCOInfoModal.data().specialtyDisplay()'></span>
                                        <span class='caret'></span>
                                    </button>
                                    <ul class='dropdown-menu' data-bind='foreach: $data.studentMCOInfoModal.therapyOptions()' role='menu'>
                                        <li>
                                            <a data-bind='click: function(){$parent.studentMCOInfoModal.data().specialty($data.service());}, text: $data.service()' href='#'></a>
                                        </li>
                                    </ul>
                                </div>
                                <div>
                                    <span class='help-block' data-bind='visible: !$data.studentMCOInfoModal.data().specialty.isValid() && $data.studentMCOInfoModal.showErrors()'>Please select a specialty.</span>
                                </div>
                            </div>
                        </div>
                        <div class='form-group' data-bind='css:{"has-error": !$data.studentMCOInfoModal.data().numberOfSessions.isValid() && $data.studentMCOInfoModal.showErrors()}'>
                            <label class='control-label col-sm-2'>Number of Sessions:</label>
                            <div class='col-sm-6'>
                                <div class='row'>
                                    <div class='col-sm-2'>
                                        <div>
                                            <input class='form-control' data-bind='value: $data.studentMCOInfoModal.data().numberOfSessions, valueUpdate: "keyUp"' type='text'/>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <span class='help-block' data-bind='visible: !$data.studentMCOInfoModal.data().numberOfSessions.isValid() && $data.studentMCOInfoModal.showErrors()'>Please enter a valid number of sessions.</span>
                                </div>
                            </div>
                        </div>
                        <div class='form-group' data-bind='css:{"has-error": !$data.studentMCOInfoModal.data().approvalToTreat.isValid() && $data.studentMCOInfoModal.showErrors()}'>
                            <label class='control-label col-sm-2'>MCO Approval:</label>
                            <div class='col-sm-6'>
                                <div>
                                    <div class='btn-group'>
                                        <a class='btn btn-default' data-bind='click: function(){$data.studentMCOInfoModal.data().approvalToTreat(true);}, css:{"btn-primary": $data.studentMCOInfoModal.data().approvalToTreat()}' href='#'>Yes</a>
                                        <a class='btn btn-default' data-bind='click: function(){$data.studentMCOInfoModal.data().approvalToTreat(false);}, css:{"btn-primary": !$data.studentMCOInfoModal.data().approvalToTreat()}' href='#'>No</a>
                                    </div>
                                </div>
                                <div>
                                    <span class='help-block' data-bind='visible: !$data.studentMCOInfoModal.data().approvalToTreat.isValid() && $data.studentMCOInfoModal.showErrors()'>Please select an approval option.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='modal-footer'>
                <a class='btn btn-default' data-bind='click:close' href='#'><span class='glyphicon glyphicon-remove-circle'></span> Cancel</a>
                <a class='btn btn-primary' data-bind='click:action' href='#'><span class='glyphicon glyphicon-ok-circle'></span> Save</a>
            </div>
        </div>
    </div>
</script>
