<script id='studentProgressNoteModal' type='text/html'>
    <div class='modal-dialog modal-lg' style='padding-top:150px'>
        <div class='modal-content'>
            <div class='modal-header'>
<h3>
                    Enter IDEA Progress Note
                </h3>
                <h4>
                    <span data-bind='text: $root.studentName()'></span>
                    (<span data-bind='text: $root.studentId()'></span>)
                </h4>
            </div>
            <div class='modal-body'>
                <div class='container'>
                    <div class='form'>
                        <div class='form-group' data-bind='css:{"has-error": !$data.noteModal.data().note.isValid() && $data.noteModal.showErrors()}'>
                            <label class='control-label'>Enter a progress note:</label>
                            <div>
                                <div>
                                    <textarea class='form-control' data-bind='value: $data.noteModal.data().note' rows='3' style='width:88%'></textarea>
                                </div>
                                <div>
                                    <span class='help-block' data-bind='visible: !$data.noteModal.data().note.isValid() && $data.noteModal.showErrors()'>Please enter a progress note.</span>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                        <div class='col-xs-6'>
                            <label class='control-label'>Select a specialty:</label>
                            <div>
                                <div class='btn-group'>
                                    <button class='btn btn-default dropdown-toggle' data-toggle='dropdown' type='button'>
                                        <span data-bind='text: $data.noteModal.data().specialtyDisplay'></span>
                                        <span class='caret'></span>
                                    </button>
                                    <ul class='dropdown-menu' data-bind='foreach: $data.noteModal.specialtyOptions()'>
                                        <li>
                                            <a data-bind='text: $data.service(), click: function(){$parent.noteModal.data().specialty($data.service());}' href='#'></a>
                                        </li>
                                    </ul>
                                </div>
                                <div>
                                    <span class='help-block' data-bind='visible: !$data.noteModal.data().specialty.isValid() && $data.noteModal.showErrors()'>Please select a specialty.</span>
                                </div>
                            </div>
                        </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class='modal-footer'>
                <a class='btn btn-default' data-bind='click:close' data-dismiss='modal' href='#'><span class='glyphicon glyphicon-remove-circle'></span> Cancel</a>
                <a class='btn btn-primary' data-bind='click:action' href='#'><span class='glyphicon glyphicon-ok-circle'></span> Save</a>
            </div>
        </div>
    </div>
</script>
