<div id='areYouSureModal'>
    <div data-bind='modal:{ visible: modalVisible, header:{data:{label:"Are you sure?"}}, body:{name:"areyousure", data: bodyQuestion}, footer: {data:{action: action, closeLabel: "No", primaryLabel: "Yes"}} }' style='padding-top:150px'></div>
</div>
