<% if(navigation.length > 0) { %>
    <ol class='breadcrumb'>
    <% for(var i=0; i<navigation.length-1; i++) { %>
        <li>
            <a href='<%= navigation[i].link %>'><%=navigation[i].display %></a>
        </li>
    <% } %>
        <li class='active'>
            <%=navigation[navigation.length-1].display %>
        </li>
    </ol>
<% } %>

<% if(navigation.length == 0) { %>
    <div>&nbsp;</div>
<% } %>
