<li class='dropdown'>
    <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
        <span class="glyphicon glyphicon-export"></span>
        Exports
        <b class='caret'>&nbsp;</b></a>
    <ul class='dropdown-menu'>
        <li>
            <a href='/export/gdsNewStudents'>GDS: New Students</a>
        </li>
        <li>
            <a href='/export/gdsPreBilling'>GDS: Plan/MCO Data</a>
        </li>
        <li>
            <a href='/export/billing'>Billing</a>
        </li>
    </ul>
</li>
