<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!-- base libraries -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/bower_components/moment/moment.js"></script>
    <script src='/bower_components/moment-timezone/builds/moment-timezone-with-data.js'></script>
    <script src="/bower_components/twix/bin/twix.js"></script>
    <script src="/bower_components/knockout/dist/knockout.debug.js"></script>
    <script src="/bower_components/lodash/dist/lodash.js"></script>
    <script src="/bower_components/eventEmitter/EventEmitter.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/bower_components/async/lib/async.js"></script>
    <!-- /base libraries --> 

    <!-- jq and bs3 components -->
    <script src="/bower_components/jqueryui/ui/jquery-ui.js"></script>
    <script src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src='/bower_components/blockui/jquery.blockUI.js'></script>

    <!-- /jq and bs3 components -->

    <!-- ko components -->
    <script src="/bower_components/knockout-validation/Dist/knockout.validation.js"></script>
    <script src="/js/lib/datePicker.bs3.ko.js"></script>
    <script src="/js/lib/timePicker.bs3.ko.js"></script>
    <script src="/js/lib/modal.bs3.ko.js"></script>
    <script src='/bower_components/knockstrap/build/knockstrap.js'></script>
    <script src='/js/lib/block-ui-ko.js'></script>
    <script src='/js/lib/ko.validation.dateRange.js'></script>
    <!-- /ko components -->

    <!-- shims -->
    <script src="/js/lib/uuid.js"></script>
    <script src="/js/lib/global.js"></script>
    <script src='/js/lib/moment.round.js'></script>
    <script src='/js/lib/moment.tzdetect.js'></script>
    <script src='/js/ko/areYouSure.js'></script>
    <script src='/js/lib/ko.dirty.js?v=<%= version %>'></script>
    <!-- /shims -->

    <script>
        window.onerror = function(msg, url, line){
            console.log('UNCAUGHT: ' + msg);
            console.log('UNCAUGHT: ' + url);
            console.log('UNCAUGHT: ' + line);
        };
    </script>


    <!-- styling -->
    <!--<link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>-->
    <link rel="stylesheet" 
          href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/compiled/theme.css"/>
    <link rel="stylesheet" type="text/css" href="/css/vendor/animate.css"/>
    <link rel="stylesheet" type="text/css" href="/css/vendor/font-awesome.min.css"/>

    <link href="/css/site.css" rel='stylesheet'/>
    <script src="/js/theme.js"></script> 
 
    <!-- /stying -->
</head>
