<!DOCTYPE html>
<html lang="en">
    <% include head.ejs %>
    <body id="features">
        <div class='feature-wrapper'>
            <div>
                <%- body %>
            </div>
        </div>
    </body>
</html>
