<!DOCTYPE html>
<html lang="en">
    <% include head.ejs %>
    <body id="features">
        <% include navbar %>
        <% include breadcrumbs %>
        <div>
            <%- body %>
        </div>
        <div class='logo-stripe' style=''>
            <div class='row'>
                <div class='col-xs-12'>
                    <div class='pull-right'>
                        <div>
                            <a href="/"><img src="/images/logos/beacon-logo.jpg" style='border: 2px solid gray; margin:0 auto; height:75px;'/></a>
                        </div>
                        <div class='pull-right'>
                            &copy; 2014
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include areYouSureTemplate %>
        <% include areYouSure %>
    </body>
</html>