<!DOCTYPE html>
<html lang="en">
    <% include head.ejs %>
    <body id="features">
        <div class='feature-wrapper'>
            <% include navbar %>
            <% include breadcrumbs %>
            <div>
                <%- body %>
            </div>
            <% include areYouSureTemplate %>
            <% include areYouSure %>
            <div class='alert alert-warning'>
                This UI is a work in progress and may not reflect the finished product.
            </div>
            <div class='push'></div>
        </div>
        <div class='footer logo-stripe' style=''>
            <div class='row'>
                <div class='col-xs-4'>
                    <div style=''>
                        <% if(!!districtCode) {%>
                        <a class='problem' href='mailto:software@beaconanalytics.com?Subject="Problem in <%= districtName %> (<%= districtCode %>)"'>Problems? Comment? Send us a message!</a>
                        <% } else { %>
                        <a class='problem' href='mailto:software@beaconanalytics.com?Subject="Problem in SMART"'>Problems? Comment? Send us a message!</a>
                        <% } %>
                    </div>
                </div>
                <div class='col-xs-4'>
                    <div class='' style='float: none; margin: 0 auto'>
                        <div style='text-align: center'>
                            Beacon Analytics &copy; 2014
                        </div>
                    </div>
                </div>
                <div class='col-xs-4'>
                    <div class='pull-right'>
                        <span><%= version %>-rc1</span>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
