<!DOCTYPE html>
<html lang="en">
    <% include head.ejs %>
    <body id="signup">
        <div class='feature-wrapper'>
            <div class='login-bg'>
                <div style='float:right; width:0;height:0;border-style:solid; border-width:0px 800px 100px 0px; border-color: transparent #fff transparent transparent; opacity:.8'>
                    <img src='/images/logos/beacon-logo.jpg' style='padding-left:650px; height: 75px;'/>
                </div>

                <%- body %>
            </div>
            <div class='push'></div>
        </div>
        <div class='footer login-logo-stripe hide-footer'>
            <div class='row'>
                <div class='col-xs-12'>
                    <div class='pull-right'>
                        <div class='pull-right'>
                            &copy; 2014
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
