<header class="top navbar navbar-inverse normal" role="header" style='margin-bottom:0px'>
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand" href="#" style='padding:4px; padding-left:12px'>
                <h1 class='header-nomargin less-outline'><strong>SMART System</strong></h1>
                <div class='brand-stretch'>
                    School Medicaid and Reimbursement Tracking
                </div>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style='margin-top:4px'>
            <ul class="navbar-nav nav navbar-left">
                <li>
                    <% if(!!districtCode) { %>
                    <a href='/<%= districtCode %>' role="button">
                        <span class="glyphicon glyphicon-home"></span>
                        <%= districtName %>
                        - Home</a>
                    <% } %>
                    <% if(!districtCode) { %>
                    <a href='/districtSelection' role="button">
                        <span class="glyphicon glyphicon-home"></span>
                        Home</a>
                    <% } %>
                </li>
                <li>
                    <% if(!districtCode) { %>
                    <a href='/districtSelection'>
                        <span class='glyphicon glyphicon-th-list'></span>
                        District Selection</a>
                    <% } %>
                </li>
                <% if(!!districtCode && multipleDistrictAccess) { %>
                <li>
                    <a href='/districtSelection'>
                        <span class='glyphicon glyphicon-th-list'></span>
                        District Selection</a>
                </li>
                <% } %>
                <% if(isAdministrator) { %>
                <li>
                    <a href='/admin/users'>
                        <span class="glyphicon glyphicon-wrench"></span>
                        User Administration</a></li>
                <% include import-dropdown %>
                <% include export-dropdown %>
                <% } %>
                <li>
                    <a href='/logout' role="button">
                        <span class="glyphicon glyphicon-log-out"></span>
                        Log Out</a>
                </li>
            </ul>
            <ul class='nav navbar-nav navbar-right'>
                <li style='color: #FFF; font-size: 8pt;'>
                    <a href='#'>
                        <span>Signed in as
                            <%= userFullName %></span>
                    </a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</header>
