.scrollHack {
    height:350px;
    overflow:auto;
}

.bghack{
}
.bghack:hover, .bghack:focus{
    background-color: #284264;
}

div.list-group.list-group-nohover{
}
div.list-group.list-group-nohover div.list-group-item:hover, div.list-group.list-group-nohover:focus{
    text-decoration: inherit;
    background-color:inherit;
}

div.list-group-item:hover, div.list-group-item:focus {
    text-decoration: none;
    background-color: #f5f5f5;
}

div.list-group-item.active {
    text-decoration: none;
    background-color: #428bca;
    border-color: #428bca;
    color: #fff
}
div.list-group-item.active input{
    color:#000
}
.form-group-nomargin{
}
.form-group-nomargin .form-group{
    margin-bottom: 0px;
}

.disabled-student{
    background: #efefef
}

.login-bg{
    width:100%;
    min-width:720px;
    position: absolute;
    top:0;
    bottom:0;
    background-image: url('../images/login-background-mod-grad.png');
    background-repeat: no-repeat;
    background-size:130%;
}

.outline{
    color:white;
    text-shadow: -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000,
                2px 2px 0 #000;
}



.less-outline{
    color:white;
    text-shadow: -1px -1px 0 #1f485c,
                1px -1px 0 #1f485c,
                -1px 1px 0 #1f485c,
                1px 1px 0 #1f485c;
}

.less-outline.black{
    color:white;
    text-shadow: -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;
}


*{margin:0;}
html,body{height:100%}

.feature-wrapper{
    min-height:100%;
    height:auto !important;
    height:100%;
    margin: 0 auto -55px;
}
.footer, .push{
    height:55px;
}

.logo-stripe{
    margin-bottom:0px;
    padding:15px;
    background:#31708f;
    border-left:0px;
    border-right:0px;
    color:#bce8f1;
    box-shadow: 0px -2px 1px 1px rgba(46, 46, 46, 0.3), inset rgba(255, 255, 255, 0.2) 0 1px 1px;
}

.login-logo-stripe{
    margin-bottom:0px;
    padding:15px;
    background:#1f485c;
    border-left:0px;
    border-right:0px;
    color:#bce8f1;
}

.logo-stripe.login{
    position: absolute;
    border-top: 1px #bce8f1 solid;
    box-shadow:none;
}

@media all and (max-height: 650px){
    .hide-footer{
        display:none;
    }
}

.header-nomargin{
    margin:0px;
    margin-top:0px;
    margin-bottom:0px;
}

.brand-stretch{
    font-size:8pt;
    transform: scale(1,1.5);
    -webkit-transform:scale(1,1.5);
    -moz-transform:scale(1,1.5);
    -ms-transform:scale(1,1.5);
    -o-transform:scale(1,1.5);
}

.login-stretch{
    font-size:14pt;
    transform: scale(1,2);
    -webkit-transform:scale(1,2);
    -moz-transform:scale(1,2);
    -ms-transform:scale(1,2);
    -o-transform:scale(1,2);
}


.problem{
    color: #d5d5d5;
}
.problem:hover, .problem:focus{
    color: #fff;
}

.btn-patch{
    padding: 6px 12px
}

.panel-header-border-hack{
}

.noBorder{
    border-bottom-width: 0px;
}

.border{
    border-bottom-width: 1px;
}
