<div class='form-group'>
    <label class='control-label col-sm-2'>Date</label>
    <div class='col-sm-4'>
        <div class='input-group date' data-bind='datePicker:{value: $data.date, format:"M/D/YYYY"}'>
            <input class='form-control' disabled data-bind='value: $data.date'/>
        </div>
    </div>
</div>
<div class='form-group'>
    <label class='control-label col-sm-2'> Start Time</label>
    <div class='col-sm-4'>
        <div class='input-group date' data-bind='timePicker:{value: $data.startTime, format:"h:mm a"}'>
            <input class='form-control' disabled data-bind='value: $data.startTime'/>
        </div>
    </div>
</div>
<div class='form-group' data-bind='css:{"has-error":!$data.location.isValid() && $root.showErrors()}'>
    <label class='control-label col-sm-2'>Location:
    </label>
    <div class='col-sm-4'>
            <p class='form-control-static' data-bind='text: $data.location'></p>
    </div>
</div>
