<div class='form-group' data-bind='css:{"has-error": !$data.duration.isValid() && $root.showErrors()}'>
        <label class='control-label col-sm-2'>Duration</label>
        <div class='col-sm-4'>
            <p class='form-control-static' data-bind='text: $data.duration() + " minutes"'></p>
        </div>
    </div>

