<div class='form-group'>
    <div class='col-sm-2' data-bind='css:{"has-error": $data.ends().errors().length > 0 && $root.showErrors()}'>
        <label class='control-label'>Ends</label>
    </div>
    <div class='col-sm-10'>
        <div class='list-group' data-bind='with: $data.ends'>
            <!-- ko if: $data.endType() === "Never" -->
            Never
            <!-- /ko -->
            <!-- ko if: $data.endType() === "Occurrences" -->
            <span data-bind='text: "After " + $data.occurrences() + " occurrences"'></span>
            <!-- /ko -->
            <!-- ko if: $data.endType === "On" -->
            <div class='input-group date' 
                        data-bind='datePicker:{value: $data.endDate, format:"M/D/YYYY"}'>
                    <input class='form-control' 
                            disabled data-bind='value: $data.endDate'/>
                </div>
            <!-- /ko -->
        </div>
    </div>
</div>
