<div class='horizontal-form'>
    <% include commonScheduling.ejs %>
    <% include duration.ejs %>
    <div class='form-group' data-bind='css:{"has-error": !$data.repeatBy.isValid()&& $root.showErrors()}'>
        <label class='control-label col-sm-2'>Repeat By</label>
        <div class='col-sm-10'>
            <!-- ko if: $data.repeatByModify() === "day of month" -->
                <span>Day of Month (<span data-bind='text: $data.dayOfMonthDisplay'></span>)</span>
            <!-- /ko -->
            <!-- ko if: $data.repeatByModify() === "day of week" -->
                <span>Day of Week (<span data-bind='text: $data.dayOfWeekInMonthDisplay'></span>)</span>
            <!-- /ko -->
        </div>
    </div>
    <% include ends.ejs %>
</div>
