<div class='horizontal-form'>
    <% include commonScheduling.ejs %>
    <% include duration.ejs %>
    <div class='form-group' data-bind='css:{"has-error": !$data.repeatBy.isValid() && $root.showErrors()}'>
        <label class='control-label col-sm-2'>Repeat On</label>
        <div class='col-sm-10'>
            <!-- ko if: $data.hasSunday() -->
            <div>Sunday</div>
            <!-- /ko -->
            <!-- ko if: $data.hasMonday() -->
            <div>Monday</div>
            <!-- /ko -->
            <!-- ko if: $data.hasTuesday() -->
            <div>Tuesday</div>
            <!-- /ko -->
            <!-- ko if: $data.hasWednesday() -->
            <div>Wednesday</div>
            <!-- /ko -->
            <!-- ko if: $data.hasThursday() -->
            <div>Thursday</div>
            <!-- /ko -->
            <!-- ko if: $data.hasFriday() -->
            <div>Friday</div>
            <!-- /ko -->
            <!-- ko if: $data.hasSaturday() -->
            <div>Saturday</div>
            <!-- /ko -->
        </div>
    </div>
    <% include ends.ejs %>
</div>
