<% layout( '../../layout') %>
<div class="container" id='perms'>
    <div class='form-group' data-bind='css:{"has-error": !$data.selectedLocation.isValid()}'>
        <label class='control-label'>Select a Location</label>
        <select class='form-control' size='10'autofocus>
            <!-- ko foreach: districts -->
            <option data-bind='text: $data.name() + " (" + $data.districtCode() + ")", click:function(){$root.selectedLocation($data.id()); $root.selectedLocationType("district");}'></option>
            <!-- ko foreach: schools -->
            <option data-bind='html:"&nbsp;&nbsp;&nbsp;"+$data.name(), click:function(){$root.selectedLocation($data.id()); $root.selectedLocationType("school");}'></option>
            <!-- /ko -->
            <!-- /ko -->
        </select>
        <span class='help-block' data-bind='visible: !selectedLocation.isValid()'>Please select a location</span>
    </div>

    <div class='form-group' data-bind='css:{"has-error": !$data.selectedPermissions.isValid()}'>
        <label class='control-label'>Select Permissions</label>
        <select class='form-control' multiple size='5' data-bind='options:possiblePermissions, selectedOptions:selectedPermissions'></select>
        <span class='help-block' data-bind='visible: !selectedPermissions.isValid()'>Please select at least one permission</span>
    </div>

    <a data-bind='click: function(){$data.submit();}' class='btn btn-primary'><span class='glyphicon glyphicon-ok-circle'></span> Submit</a>
    <a data-bind='attr:{href:"/admin/"+userId()+"/permissions"}' class='btn btn-default'><span class='glyphicon glyphicon-remove-circle'></span> Cancel</a>

</div>
<script src='/js/ko/permissionsNew.js?v=<%= version %>'></script>
<script>
    $(function () {
        ko.applyBindings(new PermissionsNew(<%- JSON.stringify(data) %>), $('#perms').get(0));
    });
</script>
