<% layout( '../../layout') %>
<div class="container" id='perms'>
    <div class='form-group'>
        <label class='control-label'>Name</label>
        <p class='form-control-static' data-bind='text: name()+" ("+districtCode()+")"'></p>
    </div>
    <div class='form-group' data-bind='css:{"has-error": !$data.selectedPermissions.isValid()}'>
        <label class='control-label'>Select Permissions</label>
        <select class='form-control' multiple size='5' data-bind='options:possiblePermissions, selectedOptions:selectedPermissions'></select>
        <span class='help-block' data-bind='visible: !selectedPermissions.isValid()'>Please select at least one permission</span>
    </div>
    <a data-bind='click: function(){$data.submit();}' class='btn btn-primary'><span class='glyphicon glyphicon-ok-circle'></span> Submit</a>
    <a data-bind='attr:{href:"/admin/"+userId()+"/permissions"}' class='btn btn-default'><span class='glyphicon glyphicon-remove-circle'></span> Cancel</a>

</div>
<script src='/js/ko/permissionsEdit.js?v=<%= version %>'></script>
<script>
    $(function () {
        ko.applyBindings(new PermissionsEdit(<%- JSON.stringify(data) %>), $('#perms').get(0));
    });
</script>
