<% layout( '../../layout') %>
<div class="container" id='perms'>
    <div class='panel panel-default'>
        <div class='panel-heading'>
            <label data-bind='text: "Permissions for "+ $data.userName()'></label>
        </div>
        <div class='panel-body'>
            <div data-bind='foreach: $data.shownDistricts' class='list-group list-group-nohover'>
                <div class='list-group-item'>
                <div class='panel-heading'>
                        <div class='row'>
                            <div class='col-md-6'>
                                <span data-bind='text: $data.name() + " ("+$data.districtCode()+")"' style='font-weight:bold'></span>
                            </div>
                            <div class='col-md-3'>
                                <span data-bind='text: $data.districtPermissionsDisplay()'></span>
                            </div>
                            <div class='col-md-3'>
                                <div class='' data-bind='visible: $data.districtPermissions().length > 0'>
                                        <a href='#' data-bind='attr:{href: "/admin/"+$root.userId()+"/permissions/district/"+$data.districtId()}' class='btn btn-default'>Edit</a>
                                    <a href='#' data-bind='click:function(){$data.revoke($root.userId());}' class='btn btn-default'>Revoke</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <a class='btn btn-default' data-bind='attr:{href: "/admin/"+$data.userId()+"/permissions/new"}' href='#'>Add Permission</a>

                <a class='btn btn-default' href='/admin/users'>Back to User List</a>
        </div>
    </div>
</div>
<script src='/js/ko/permissionsDisplay.js?v=<%= version %>'></script>
<script>
    $(function () {
        ko.applyBindings(new PermissionsDisplay(<%- JSON.stringify(data) %>), $('#perms').get(0));
    });
</script>
