<% layout( '../loginLayout') %>
<div class="container" id='resetPassword'>
    <div class="row">
        <div class="col-md-4">
            &nbsp;
        </div>
        <div class="col-md-4">
            <div data-bind='visible: $data.hasError()'>
                <div class='alert alert-danger'>
                    <h3>It looks like there was a problem.</h3>
                    <div data-bind='text: $data.error'></div>
                </div>
                
                <a class='btn btn-default' href='/'>Log In</a>
            </div>
            <div data-bind='visible: !$data.done() && !$data.hasError()'>
                <div class='form-group' 
                    data-bind='css: {"has-error": !$data.newPasswordVerify.isValid() && $data.showSubmitError()}':>
                    <label class='control-label'>Change Password:</label>
                    <input class='form-control' 
                            data-bind='value: newPassword, valueUpdate:"keyup"' 
                            placeholder='Password' 
                            type='password'/>
                    <input class='form-control' 
                            data-bind='value: newPasswordVerify, valueUpdate:"keyup"' 
                            placeholder='Verify Password' 
                            type='password'/>
                    <span class='help-block' 
                            data-bind='visible: !$data.newPasswordVerify.isValid() 
                                    && $data.showSubmitError()'>Passwords must match.
                    </span>
                </div>
            
            <a href='#' data-bind='click:function(){$data.submit();}'>Submit</a>
            </div>
            <div data-bind='visible: $data.done()'>
                <h3>Done!</h3>
                <div>Password reset successful.</div>
                <a class='btn btn-default' href='/'>Log In</a>
            </div>
        </div>
        <div class='col-md-4'>
            &nbsp;
        </div>
    </div>
</div>
<script src='/js/ko/resetPassword.js'></script>
<script>
    $(function () {
        ko.applyBindings(new ResetPassword(<%- JSON.stringify(data) %>), $('#resetPassword').get(0));
    });
</script>
