<% layout( '../loginLayout') %>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            &nbsp;
        </div>
        <div class="col-md-4">
            <div>
                <% if(!!success) { %>
                    <div class='alert alert-success'>
                        Please check your email for a password reset message.
                    </div>
                    <a class='btn btn-default' href='/'>Login</a>
                    <a href='/resetPassword/<%= slug%>/claim'>sneak peak?</a>
                <% } else { %>
                <form action='/resetPassword' method='post'>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Reset Password Request
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class='form-group'>
                                <label>Email</label>
                                <input class='form-control' name='email' type='text'/>
                            </div>
                            <% if(!!error){ %>
                            <div class='alert alert-danger'>
                                <%= error %>
                            </div>
                            <% } %>
                            <button class="btn btn-default btn-lg" style='width:100%' type="submit">
                                Submit
                            </button>
                        </form>
                <% } %>
                    </div>
                </div>
                <div class="col-md-4">
                    &nbsp;
                </div>
            </div>
        </div>
