<% layout( '../../layout') %>
<div class="container">
    <div>
        <div class='panel panel-default' id='userInfo'>
            <div class='panel-heading'>
                <h3 data-bind="text: 'Therapist Qualifications: ' + $data.name() "></h3>
            </div>
            <div class='panel-body'>
                <table class='table'>
                    <thead>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>&nbsp;</th>
                    </thead>
                    <tbody data-bind='foreach: $data.therapistQualifications()'>
                        <tr>
                            <td data-bind='text: $data.startDate'></td>
                            <td data-bind='text: $data.endDate'></td>
                            <td>
                                <div class='btn-group'>
                                    <a class='btn btn-default' data-bind='attr: {href: "/admin/"+$root.userId() + "/therapistQualification/"+ $data.id()}'>Edit</a>
                                    <a class='btn btn-default' data-bind='click: function(){$data.remove();}'>Remove</a></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <a class='btn btn-default' data-bind='attr:{href: "/admin/"+$root.userId()+"/new/therapistQualification"}'>Add Therapist Qualification</a>
                <a class='btn btn-default' href='/admin/users'>Back to User List</a>
            </div>
        </div>
    </div>
</div>
<script src='/js/ko/therapistQualifications.js'></script>
<script>
$(function () {
        $.ajax({
            url : '/admin/<%= userId %>/therapistQualifications?v=<%= version %>',
            type: 'POST'
        }).done(function (response) {
                    ko.applyBindings(new TherapistQualificationsViewContainer(response.value), $("#userInfo").get(0));
                });
    });
</script>
