<% layout( '../../layout') %>
<div class="container">
    <div>
        <div class='panel panel-default' id='therapistQualification'>
            <div class='panel-heading'>
                <h3 data-bind="text: 'Therapist Qualification: ' + $data.name()"></h3>
            </div>
            <div class='panel-body'>
                <div class='form-group' data-bind='css:{"has-error": !$data.startDate.isValid() && $data.showSubmitError()}'>
                    <label class='control-label'>NPI Start Date:</label>
                    <div class='input-group date' data-bind='datePicker:{value: $data.startDate, format:"M/D/YYYY"}'>
                        <input class='form-control' data-bind='value: $data.startDate' disabled/>
                        <span class='input-group-btn'>
                            <a class='btn btn-default'>
                                <span class='glyphicon glyphicon-calendar'></span>
                            </a>
                        </span>
                    </div>
                    <span class='help-block' data-bind='visible: !$data.startDate.isValid() && $data.showSubmitError()'>Please enter a valid date.</span>
                </div>
                <div class='form-group' data-bind='css:{"has-error": !$data.endDate.isValid() && $data.showSubmitError()}'>
                    <label class='control-label'>NPI End Date:</label>
                    <div class='input-group date' data-bind='datePicker:{value: $data.endDate, format:"M/D/YYYY"}'>
                        <input class='form-control' data-bind='value: $data.endDate' disabled/>
                        <span class='input-group-btn'>
                            <a class='btn btn-default'>
                                <span class='glyphicon glyphicon-calendar'></span>
                            </a>
                        </span>
                    </div>
                    <span class='help-block' data-bind='visible: !$data.endDate.isValid() && $data.showSubmitError()'>Please enter a valid date.</span>
                </div>
<div class='form-group' data-bind='css:{"has-error": !$data.npiNumber.isValid() && $data.showSubmitError()}'>
                    <label class='control-label'>NPI Number:</label>
                    <input class='form-control' data-bind='value: npiNumber, valueUpdate:"keyup"' placeholder='End Date' type='text'/>
                    <span class='help-block' data-bind='visible: !$data.npiNumber.isValid() && $data.showSubmitError()'>Please enter a valid NPI number.</span>
                </div>

                <div class='form-group' data-bind='css:{"has-error": !$data.providerType.isValid() && $data.showSubmitError()}'>
                    <label class='control-label'>Provider Type:</label>
                    <input class='form-control' data-bind='value: providerType, valueUpdate:"keyup"' placeholder='End Date' type='text'/>
                    <span class='help-block' data-bind='visible: !$data.providerType.isValid() && $data.showSubmitError()'>Please enter a provider type.</span>
                </div>
                <div class='form-group' data-bind='css:{"has-error": !$data.licensed.isValid() && $data.showSubmitError()}'>
                    <label class='control-label'>Licensed:</label>
                    <div class='btn-group'>
                        <a class='btn btn-default' data-bind='click:function(){$data.licensed(true);}, css:{"btn-primary": $data.licensed()}' href='#'>Yes</a>
                        <a class='btn btn-default' data-bind='click:function(){$data.licensed(false);}, css:{"btn-primary": !$data.licensed()}' href='#'>No</a>
                    </div>
                </div>
                <div>
                    <a class='btn btn-primary btn-lg' data-bind='click:function(){$data.submit();}' href='#'><span class='glyphicon glyphicon-ok-circle'></span> Submit Changes</a>
                    <a class='btn btn-default btn-lg' data-bind='attr:{href: "/admin/"+$data.userId()+"/therapistQualifications"}'><span class='glyphicon glyphicon-remove-circle'></span> Cancel Changes</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src='/js/ko/therapistQualifications.js?v=<%= version %>'></script>
<script>
    $(function () {
        $.ajax({
url : '/admin/<%= userId %>/therapistQualification<%= !therapistQualificationId ? '' : '/'+therapistQualificationId %>',
            type: 'POST'
        }).done(function (response) {
                    ko.applyBindings(new TherapistQualificationEditModel(response.value), $("#therapistQualification").get(0));
                });
    });


</script>
