<% layout( '../layout') %>
<div class="container">
    <div class="starter-template">
        <p class="lead"></p>
        <p></p>
        <div class="panel panel-default">
            <nav class="navbar navbar-default" role="navigation" style='margin-bottom:0px'>
                <div class="navbar-header">
                    <button class="navbar-toggle" data-target="#excelProcessing" data-toggle="collapse" type="button">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" data-bind='text: displayName' href="#"></a>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse" id="excelProcessing">
                    <ul class="nav navbar-nav">
                        <li data-bind='css: {active: selected()==="instructions"}'>
                            <a data-bind='click: function(){selected("instructions");}' href="#">Instructions</a>
                        </li>
                        <li data-bind='css:{active:selected()==="export"}'>
                            <a data-bind='click:function(){selected("export");}' href="#">Export</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div data-bind='block:{on: blocked, message:null}'>
                <div class="panel-body" data-bind='visible: selected()==="instructions"'>
                    <h3>
                        Instructions
                    </h3>
                    <div>
                        <ol>
                            <li>
                                Do some stuff.
                            </li>
                            <li>
                                Do some other stuff.
                            </li>
                        </ol>
                    </div>
                </div>
                <div class='panel-body' data-bind='visible:selected()==="export"'>
                    <h3>
                        Export Data
                    </h3>
                    <div class='horizontal-form'>
                        <div class='form-group'>
                            <label class='control-label col-sm-2'>
                                Start Date:</label>
                            <div class='col-sm-2'>
                                <div class='input-group date' data-bind='datePicker:{value: $data.parameters().startDate, format:"M/D/YYYY"}'>
                                    <input class='form-control' data-bind='value: $data.parameters().startDate' disabled/>
                                    <span class='input-group-btn'>
                                        <a class='btn btn-default'>
                                            <span class='glyphicon glyphicon-calendar'></span>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class='form-group'>
                            <label class='control-label col-sm-2'>
                                End Date:</label>
                            <div class='col-sm-2'>
                                <div class='input-group date' data-bind='datePicker:{value: $data.parameters().endDate, format:"M/D/YYYY"}'>
                                    <input class='form-control' data-bind='value: $data.parameters().endDate' disabled/>
                                    <span class='input-group-btn'>
                                        <a class='btn btn-default'>
                                            <span class='glyphicon glyphicon-calendar'></span>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class='form-group'>
                            <div class='col-sm-4'>
                                <a class="btn btn-default btn-lg pull-right" data-bind='click:function(){ $data.process(); }' href='#'>Process</a>
                            </div>
                        </div>
                    </div>
                    <div class='clearfix'></div>
                    <p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" data-bind='style:{width:exportModel().overallProgress() + "%"}'>
                                <span data-bind='text: exportModel().overallProgress()+ "%"'></span>
                            </div>
                        </div>
                    </p>
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Messages
                            <br/>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class='scrollHack'>
                            <table class='table table-bordered'>
                                <thead>
                                    <tr>
                                        <th style='width:10%'>Sheet</th>
                                        <th style='width:10%'>Column</th>
                                        <th style='width:10%'>Row</th>
                                        <th>Message</th>
                                    </tr>
                                </thead>
                                <tbody data-bind='foreach: throttledMessages()'>
                                    <tr data-bind='template:{name:"message_template", data:$data}'></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<iframe id='downloadFrame' style='display:none;'></iframe>
<script src='/js/ko/exportPreBillingStudentsModel.js'></script>
<script src='/js/ko/exportModel.js'>
    
</script>
<script>
    $(function () {
        var data = {
                typeName   : '<%= type %>',
                displayName: '<%= displayName %>'
            };
        var model = new ExcelProcessingModel(data, ExportPreBillingStudentModel);
        ko.applyBindings(model, $('#import').get(0));
    });
</script>
<script id='message_template' type='text/html'>
    <td data-bind='text: sheetName'></td>
    <td data-bind='text: columnName'></td>
    <td data-bind='text: row'></td>
    <td data-bind='text: message'</td></script>
    <script src='/bower_components/blockui/jquery.blockUI.js'></script>
    <script src='/js/lib/block-ui-ko.js'></script>
    <script src='/js/lib/socket.io-stream.js'></script>
