<% layout( '../layout-inprogress') %>
<div class="container">
    <div class='center-block' style='max-width:400px'>
    <h3>Welcome, <%= permissionsProfile.userName %>!</h3>
    <h4>Please select a district to work in.</h4>
    <ul class='list-group'>
        <% for(var district in permissionsProfile.districts) {%>
            <a class='list-group-item' href='/<%=district%>'>
                <%= permissionsProfile.districts[district].name %>
                <span class='pull-right glyphicon glyphicon-chevron-right'></span>
            </a>
        <% } %>
    </ul>
    </div>
</div>
