<% layout( '../layout-logging') %>
<div class="container">
    <div>
        <div id='wrapper'>
            <div>
                <div>
                    <label class='control-label'>Level</label>
                    <input class='form-control' data-bind='value: $data.logListRef().filters().level, valueUpdate: "keyup"'/>
                </div>
                <div>
                    <label class='control-label'>Hostname</label>
                    <input class='form-control' data-bind='value: $data.logListRef().filters().hostname, valueUpdate: "keyup"'/>
                </div>
                <div>
                    <label class='control-label'>Message</label>
                    <input class='form-control' data-bind='value: $data.logListRef().filters().message, valueUpdate: "keyup"'/>
                </div>
                <div>
                    <label class='control-label'>Start Date</label>
                    <div class='input-group date' data-bind='datePicker:{value: $data.logListRef().filters().start, format:"M/D/YYYY"}'>
                        <input class='form-control' data-bind='value: $data.logListRef().filters().start' disabled/>
                        <span class='input-group-btn'>
                            <a class='btn btn-default'>
                                <span class='glyphicon glyphicon-calendar'></span>
                            </a>
                        </span>
                    </div>
                </div>
                <div>
                    <label class='control-label'>End Date</label>
                    <div class='input-group date' data-bind='datePicker:{value: $data.logListRef().filters().end, format:"M/D/YYYY"}'>
                        <input class='form-control' data-bind='value: $data.logListRef().filters().end' disabled/>
                        <span class='input-group-btn'>
                            <a class='btn btn-default'>
                                <span class='glyphicon glyphicon-calendar'></span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <hr/>
            <!-- ko foreach: $data.logListRef().visibleRows -->
            <div class='row'>
                <div class='col-xs-1'>
                    <div data-bind='text: $data.level'></div>
                </div>
                <div class='col-xs-2'>
                    <div data-bind='text: $data.timestamp'></div>
                </div>
                <div class='col-xs-1'>
                    <div data-bind='text: $data.hostname'></div>
                </div>
                <div class='col-xs-8'>
                    <div data-bind='text: $data.message'></div>
                </div>
            </div>
            <!-- ko if: !!$data.meta() && $data.meta() !== "" && $data.meta() != "{}" -->
            <div class='row'>
                <div class='col-xs-2'>&nbsp;</div>
                <div class='col-xs-10'>
                    <div data-bind='text: $data.meta'></div>
                </div>
            </div>
            <!-- /ko -->
            <!-- /ko -->

            <div class='list-group-item' data-bind='visible: $data.logListRef().noItemsFound'>
                <div class='alert alert-info'>
                    No records found.
                </div>
            </div>
            <div class='list-group-item text-center' data-bind='visible: !$data.logListRef().noItemsFound()'>
                <ul class='pagination'>
                    <li>
                        <a data-bind='click: $data.logListRef().first' href='#'>
                            <span class="glyphicon glyphicon-fast-backward"></span>
                        </a>
                    </li>
                    <li>
                        <a data-bind='click: $data.logListRef().previous' href='#'>
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                    </li>
                    <!-- ko foreach: $data.logListRef().selectablePages -->
                    <li data-bind='css:{active: $data === $root.logListRef().selectedPage()}'>
                        <a data-bind='click: function(){$root.logListRef().pageSelect($data);}' href='#'>
                            <span data-bind='text: $data'></span>
                        </a>
                    </li>
                    <!-- /ko -->
                    <li>
                        <a data-bind='click: $data.logListRef().next' href='#'>
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </li>
                    <li>
                        <a data-bind='click: $data.logListRef().last' href='#'>
                            <span class="glyphicon glyphicon-fast-forward"></span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
<script src='/js/lib/ko.datatable.js'></script>
<script src='/js/ko/logging.js?v=<%= version %>'></script>
<script type='text/javascript'>
    $(document).ready(function () {
        console.log('ready');
        var l = new LogWrapperModel();
        ko.applyBindings(l, $('#wrapper').get(0));
        console.log('bound');
    });
</script>
