<% layout( '../loginLayout') %>
<div class="container">
    <div class="row header">
        <div class="col-md-12">
            <h3 class="logo">
            </h3>
            <h1 class='outline' style='text-align:center; font-size:50pt'><strong>SMART System</strong></h1>
            <h3 class='less-outline black login-stretch' style='text-align:center'><strong>School Medicaid and Reimbursement Tracking</strong></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="wrapper clearfix">
                <div class="formy">
                    <div class="row">
                        <div class="col-md-12">
                            <div style='text-align:center'>
                            <h4>Sign in to your account.</h4>
                            </div>
                            <form role="form" method="post" action="/login">
                                <div class="form-group">
                                    <label for="email">Email address</label>
                                    <input type="email" class="form-control" id="email" name="email" autofocus/>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password" name="password" />
                                </div>
                                <% if(!!error){ %>
                                <div class='alert alert-danger'>
                                    <%= error %>
                                </div>
                                <% } %>
                                <div class="submit">
                                    <button class="btn btn-default btn-lg" type="submit">
                                        <span>Sign in to my account</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>                      
                </div>
            </div>
            <div class="already-account">
                <a href="/resetPassword">Forgot your password?</a>
            </div>
        </div>
    </div>
</div>
