<div class='panel panel-default'>
    <div class='panel-heading'>Diagnostic Codes</div>
    <div class='panel-body'>
        <div data-backdrop='static' data-bind='modal:{properties: diagnosticCodeModal, template: "diagnosticCodeModel"}' data-keyboard='false'></div>
        <table class='table'>
            <thead>
                <tr>
                    <th>Speciality</th>
                    <th>Code</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody data-bind='foreach: diagnosticCodes'>
                <tr>
                    <td data-bind='text: $data.therapyTypeDisplay()'>[therapy type]</td>
                    <td data-bind='text: $data.diagnosticCodeDisplay()'>[diagnosis code]</td>
                    <td>
                        <div class='btn-group'>
                            <a class='btn btn-default' data-bind='click:function(){$parent.diagnosticCodeModal.open($data);}' href='#'>Edit</a>
                            <a class='btn btn-default' data-bind='click:function(){$parent.removeDiagnosticCode($data);}' href='#'>Remove</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <a class='btn btn-primary' data-bind='click: function(){$data.diagnosticCodeModal.open(null);}' href='#'>Add</a>
    </div>
</div>