<div class='panel panel-default'>
    <div class='panel-heading clearfix' style=''>
        <div class='pull-left' style='padding-top:6px;'>MCO Approvals</div>
        <div class='pull-right'>
            <div data-backdrop='static' data-bind='modal_old:{properties: studentMCOInfoModal, template: "studentMCOInfoModal"}' data-keyboard='false'></div>
            <a class='btn btn-primary' data-bind='click: function(){$data.studentMCOInfoModal.open(null);}' href='#'>Add</a>
        </div>
    </div>
    <div class='list-group list-group-nohover'>
        <div class='list-group-item' data-bind='visible: $data.sortedStudentMCOInfos().length == 0' style='border-top-width:0px'>
            <div class='row'><div class='col-xs-12'>No MCO approvals found.</div></div>
        </div>
        <div class='list-group-item' data-bind='visible: $data.sortedStudentMCOInfos().length > 0' style='border-top-width:0px'>
            <div class='row'>
                <div class='col-xs-2'><strong>Service</strong></div>
                <div class='col-xs-2'><strong>Number of Sessions</strong></div>
                <div class='col-xs-2'><strong>Approval to Treat</strong></div>
                <div class='col-xs-2'><strong>Start Date</strong></div>
                <div class='col-xs-2'><strong>End Date</strong></div>
            </div>
        </div>
        <!-- ko foreach: $data.sortedStudentMCOInfos -->
        <div class='list-group-item'>
            <div class='row'>
                <div class='col-xs-2'>
                    <span data-bind='text: $data.specialty'></span>
                </div>
                <div class='col-xs-2'>
                    <span data-bind='text: $data.numberOfSessionsDisplay'></span>
                </div>
                <div class='col-xs-2'>
                    <span data-bind='text: $data.approvalToTreatDisplay'></span>
                </div>
                <div class='col-xs-2'>
                    <span data-bind='text: $data.startDateDisplay'></span>
                </div>
                <div class='col-xs-2'>
                    <span data-bind='text: $data.endDateDisplay'></span>
                </div>
                <div class='col-xs-2'>
                    <div class='pull-right'>
                        <a class='btn btn-primary btn-sm' data-bind='click:function(){$parent.studentMCOInfoModal.open($data);}' href='#'>Edit</a>
                        <a class='btn btn-default btn-sm' data-bind='click:function(){$parent.removeStudentMCOInfo($data);}' href='#'>Delete</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>
</div>
