<div class='panel panel-default'>
    <div class='panel-heading'>Medicaid Info</div>
    <table class='table'>
        <thead>
            <tr>
                <td><strong>Medicaid #</strong></td>
                <td><strong>Start Date</strong></td>
                <td><strong>End Date</strong></td>
                <td><strong>Plan Number</strong></td>
                <td><strong>MCO Name</strong></td>
            </tr>
        </thead>
        <tbody data-bind='foreach: $data.gdsData()'>
            <tr>
                <td data-bind='text: $data.medicaidNumber'></td>
                <td data-bind='text: $data.medicaidStartDate'>Start Date</td>
                <td data-bind='text: $data.medicaidEndDate'>End Date</td>
                <td data-bind='text: $data.planNumber'>Plan Number</td>
                <td data-bind='text: $data.mcoName'>MCO Name</td>
            </tr>
        </tbody>
    </table>
</div>
