<div class='panel panel-default'>
    <div class='clearfix panel-header-border-hack' data-bind='css: {"noBorder":sortedParentalConsents().length > 0, "border":sortedParentalConsents().length == 0, "panel-heading":true}'>
        <div class='pull-left' style='padding-top:6px;'>Parental Consents</div>
        <div class='pull-right'>
            <a class='btn btn-primary' data-bind='click: function(){$data.parentalConsentModal.open(null);}' href='#'>Add</a>
            <div data-backdrop='static' data-bind='modal_old:{properties: parentalConsentModal, template: "parentalConsentModal"}' data-keyboard='false'></div>
        </div>
    </div>
    <div class='list-group list-group-nohover'>
        <div class='list-group-item' data-bind='visible: $data.sortedParentalConsents().length == 0' style='border-top-width:0px'>
            No parental consents found.
        </div>
        <!-- ko foreach: $data.sortedParentalConsents -->
        <div data-bind='css: { "list-group-item": true, "border-hack":true}'>
            <div class='row'>
                <div class='col-xs-4'>
                    <div>
                        <strong>Share IEP:</strong>
                        <span data-bind='text: toShareIEPListDisplay'></span>
                    </div>
                    <div>
                        <strong>Approval to Bill:</strong>
                        <span data-bind='text: toBillMedicaidListDisplay'></span>
                    </div>
                    <div>
                        <strong>Annual Notice Provided:</strong>
                        <span data-bind='text: toTreatListDisplay'></span>
                    </div>
                </div>
                <div class='col-xs-4'>
                    <div>
                        <strong>Share IEP Denied:</strong>
                        <span data-bind='text: toShareIEPDeniedDisplay'></span>
                    </div>
                    <div>
                        <strong>Approval to Bill Denied:</strong>
                        <span data-bind='text: toBillMedicaidDeniedDisplay'></span>
                    </div>
                    <div>
                        <strong>Annual Notice Denied:</strong>
                        <span data-bind='text: toTreatDeniedDisplay'></span>
                    </div>
                </div>
                <div class='col-xs-4'>
                    <div class='pull-right'>
                        <a class='btn btn-primary btn-sm' data-bind='click: function(){$parent.parentalConsentModal.open($data);}' href='#'>Edit</a>
                        <a class='btn btn-default btn-sm' data-bind='click: function(){$parent.removeParentalConsent($data);}' href='#'>Delete</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>
</div>
