<div class='panel panel-default'>
    <div class='panel-heading clearfix'>
        <div class='pull-left' style='padding-top:6px;'>Prescriptions</div>
        <div class='pull-right'>
            <a class='btn btn-primary' data-bind='click: function(){$data.prescriptionModal.open(null);}' href='#'>Add</a>
            <div data-backdrop='static' data-bind='modal_old:{properties: prescriptionModal, template: "prescriptionModal"}' data-keyboard='false'></div>
        </div>
    </div>
    <div class='list-group-item' data-bind='visible: $data.sortedPrescriptions().length == 0' style='border-top-width:0px'>
        <div>
            No prescriptions found.
        </div>
    </div>
    <table class='table' data-bind='visible: $data.sortedPrescriptions().length > 0'>
        <thead>
            <tr>
                <td><strong>Service</strong></td>
                <td><strong>Doctor</strong></td>
                <td><strong>Start Date</strong></td>
                <td><strong>End Date</strong></td>
                <td>&nbsp;</td>
            </tr>
        </thead>
        <tbody data-bind='foreach: $data.sortedPrescriptions'>
            <tr>
                <td data-bind='text: $data.serviceType'></td>
                <td data-bind='text: $data.doctorName'></td>
                <td data-bind='text: $data.startDateDisplay'></td>
                <td data-bind='text: $data.endDateDisplay'></td>
                <td>
                    <div class='pull-right'>
                        <a class='btn btn-primary btn-sm' data-bind='click: function(){$parent.prescriptionModal.open($data);}' href='#'>Edit</a>
                        <a class='btn btn-default btn-sm' data-bind='click: function(){$parent.removePrescription($data);}' href='#'>Delete</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>