<% layout( '../../layout') %>
<div class="container">
    <div>
        <div class='panel panel-default' id='userInfo'>
            <div class='panel-heading'>
                <h3><b>MCO Qualifications</b></h3>
                <h3><span class="label label-default" data-bind="text: $data.name() "></span></h3>
            </div>
            <div class='panel-body'>
                <table class='table'>
                    <thead>
                        <th>MCO</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>&nbsp;</th>
                    </thead>
                    <tbody data-bind='foreach: $data.mcoQualifications()'>
                        <tr>
                            <td data-bind='text: $data.mco'></td>
                            <td data-bind='text: $data.startDate'></td>
                            <td data-bind='text: $data.endDate'></td>
                            <td>
                                <div class='btn-group'>
                                    <a class='btn btn-default' data-bind='attr: {href: "/admin/"+$root.userId() + "/mcoQualification/"+ $data.id()}'>Edit</a>
                                    <a class='btn btn-default' data-bind='click: function(){$data.remove();}'>Remove</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <a class='btn btn-primary' data-bind='attr:{href: "/admin/"+$root.userId()+"/new/mcoQualification"}'>
                    <span class="glyphicon glyphicon-ok-circle"></span> Add MCO Qualification
                </a> 
                <a class='btn btn-default' href='/admin/users'>
                    <span class="glyphicon glyphicon-circle-arrow-left"></span> Back to User List
                </a> 
            </div>
        </div>
    </div>
</div>
<script src='/js/ko/mcoQualificationsEdit.js?v=<%= version %>'></script>
<script>
    $(function () {
        $.ajax({
            url : '/admin/<%= userId %>/mcoQualifications',
            type: 'POST',
            data: {}
        }).done(function (response) {
                    ko.applyBindings(new MCOQualificationsViewContainer(response.value), $("#userInfo").get(0));
                });
    });
</script>
