<% layout( '../../layout') %>
<div class="container">
    <div>
        <div class='panel panel-default' id='mcoQualification'>
            <div class='panel-heading'>
                <h3 data-bind="text: 'MCO Qualification: ' + $data.name()"></h3>
            </div>
            <div class='panel-body'>
                <div class='form-group' data-bind='css:{"has-error": !$data.mco.isValid() && $data.showSubmitError()}'>
                    <label class='control-label'>MCO</label>
                    
                    <div class='btn-group' style='width:100%'>
                        <button class='btn btn-default dropdown-toggle' data-toggle='dropdown' style='width:100%;text-align:left' type='button'>
                            <span data-bind='text: mcoDisplay '></span>
                            <div class='caret pull-right' style='margin-top:7px'></div>
                        </button>
                        <ul class='dropdown-menu' data-bind='foreach: $data.mcos()' style='width:100%'>
                            <li>
                                <a data-bind='text: $data.name, click: function(){$parent.mco($data.id())}' href='#'></a>
                            </li>
                        </ul>
                    </div>

                    <span class='help-block' data-bind='visible: !$data.mco.isValid() && $data.showSubmitError()'>Please select an MCO.</span>
                </div>
                <div class='form-group' data-bind='css:{"has-error": !$data.startDate.isValid() && $data.showSubmitError()}'>
                    <label class='control-label'>Start Date:</label>
                    <div class='input-group date' data-bind='datePicker:{value: $data.startDate, format:"M/D/YYYY"}'>
                        <input class='form-control' data-bind='value: $data.startDateDisplay' disabled/>
                        <span class='input-group-btn'>
                            <a class='btn btn-default'>
                                <span class='glyphicon glyphicon-calendar'></span>
                            </a>
                        </span>
                    </div>
                    <span class='help-block' data-bind='visible: !$data.startDate.isValid() && $data.showSubmitError()'>Please enter a valid date.</span>
                    <span class='help-block' data-bind='visible: $data.startDate.isValid() && !$data.dateRangeValid() && $data.showSubmitError()'>Please enter date prior to the end date.</span>
                </div>
                <div class='form-group' data-bind='css:{"has-error": !$data.endDate.isValid() && $data.showSubmitError()}'>
                    <label class='control-label'>End Date:</label>
                    <div class='input-group date' data-bind='datePicker:{value: $data.endDate, format:"M/D/YYYY"}'>
                        <input class='form-control' data-bind='value: $data.endDateDisplay' disabled/>
                        <span class='input-group-btn'>
                            <a class='btn btn-default'>
                                <span class='glyphicon glyphicon-calendar'></span>
                            </a>
                        </span>
                    </div>
                    <span class='help-block' data-bind='visible: !$data.endDate.isValid() && $data.showSubmitError()'>Please enter a valid date.</span>
                </div>
                <div>
                    <a class='btn btn-primary' data-bind='click:function(){$data.submit();}' href='#'>
                        <span class='glyphicon glyphicon-ok-circle'></span>
                        Submit Changes
                    </a>
                    <a class='btn btn-default' data-bind='attr:{href: "/admin/"+$data.userId()+"/mcoQualifications"}'>
                        <span class='glyphicon glyphicon-remove-circle'></span>
                        Cancel Changes
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src='/js/ko/mcoQualificationsEdit.js?v=<%= version %>'></script>
<script>
    $(function () {
        $.ajax({
            url : '/admin/<%= userId %>/mcoQualification<%= !mcoQualificationId ? ' ' : '/'+mcoQualificationId %>',
            type: 'POST'
        }).done(function (response) {
            ko.applyBindings(new MCOQualificationEditModel(response.value), $("#mcoQualification").get(0));
        });
    }); 
</script>
