<% layout( '../../layout-inprogress') %>
<div class="container">
    <div>
        <div class='panel panel-default' id='userInfo'>
            <div class='panel-heading'>
                <h3 data-bind="text: $data.name"></h3>
            </div>
            <div class='panel-body'>
                <div>
                    <div class='form-group' data-bind='css:{"has-error": !$data.firstName.isValid() && $data.showSubmitError()}'>
                        <label class='control-label'>First Name:</label>
                        <input class='form-control' 
                                data-bind='value: firstName, valueUpdate:"keyup"' 
                                placeholder='First Name' 
                                type='text' autofocus/>
                        <span class='help-block' 
                                data-bind='visible: !$data.firstName.isValid() && $data.showSubmitError()'>Please enter a first name.</span>
                    </div>
                    <div class='form-group' data-bind='css:{"has-error": !$data.lastName.isValid() && $data.showSubmitError()}'>
                        <label class='control-label'>Last Name:</label>
                        <input class='form-control' 
                                data-bind='value: lastName, valueUpdate:"keyup"' 
                                placeholder='Last Name' 
                                type='text'/>
                        <span class='help-block' 
                            data-bind='visible: !$data.lastName.isValid() && $data.showSubmitError()'>Please enter a last name.</span>
                    </div>
                    <div class='form-group' data-bind='css:{"has-error": !$data.ssn.isValid() && $data.showSubmitError()}'>
                        <label class='control-label'>SSN:</span></label>
                        <input class='form-control' 
                                data-bind='value: ssn, valueUpdate:"keyup"' 
                                placeholder='SSN' 
                                type='text'/>
                        <span class='help-block' 
                            data-bind='visible: !$data.ssn.isValid() && $data.showSubmitError()'>Please enter a valid SSN.</span>
                    </div>
                    <div class='form-group' data-bind='css: {"has-error": !$data.emailAddress.isValid() && $data.showSubmitError()}':>
                        <label class='control-label'>Email Address:</label>
                        <input class='form-control' 
                                data-bind='value: emailAddress, valueUpdate:"keyup"' 
                                placeholder='Email Address' type='text'/>

                        <span class='help-block' 
                                data-bind='visible: !$data.emailAddress.isValid() && $data.showSubmitError()'>Email address must be valid.</span>
                    </div>
                    <div class='form-group' 
                            data-bind='css: {"has-error": !$data.newPasswordVerify.isValid() && $data.showSubmitError()}':>
                        <label class='control-label'>Change Password:</label>
                        <input class='form-control' 
                                data-bind='value: newPassword, valueUpdate:"keyup"' 
                                placeholder='Password' 
                                type='password'/>

                        <input class='form-control' 
                                data-bind='value: newPasswordVerify, 
                                            valueUpdate:"keyup"' 
                                placeholder='Verify Password' 
                                type='password'/>

                        <span class='help-block' 
                                data-bind='visible: !$data.newPasswordVerify.isValid() && $data.showSubmitError()'>Passwords must match.</span>
                    </div>
                    <div class='form-group'>
                        <label>Is this user active?</label><br/>
                        <div class='btn-group'>
                            <a class='btn btn-default' 
                                data-bind='click: function(){$data.active(true);}, css:{"btn-primary": $data.active()}' 
                                href='#'>Yes
                            </a>
                            <a class='btn btn-default' 
                                data-bind='click: function(){$data.active(false);}, css{"btn-primary": !$data.active()}' 
                                href='#'>No
                            </a>
                        </div>
                    </div>
                    <div class='form-group'>
                        <label>Is this user a <strong>system</strong> administrator?</label><br/>
                        <div class='btn-group'>
                            <a class='btn btn-default' 
                                data-bind='click: function(){$data.isAdministrator(true);}, 
                                           css:{"btn-primary": $data.isAdministrator()}' 
                                href='#'>Yes
                            </a>
                            <a class='btn btn-default' 
                                data-bind='click: function(){$data.isAdministrator(false);}, 
                                           css{"btn-primary": !$data.isAdministrator()}' 
                                href='#'>No
                            </a>
                        </div>
                    </div>

                    <div class='form-group' data-bind='visible: showSubmitError'>
                        <div class='alert alert-danger'>
                            Please make sure all fields are valid before submitting.
                        </div>
                    </div>
                    <div>
                        <a class='btn btn-primary' data-bind='click:function(){$data.submit();}' href='#'>
                            <span class='glyphicon glyphicon-ok-circle'></span> Submit Changes
                        </a> 
                        <a class='btn btn-default' href='/admin/users'>
                            <span class='glyphicon glyphicon-remove-circle'></span> Cancel Changes
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src='/js/ko/users.js?v=<%= version %>'></script>
<script>
    $(function () {
        $.ajax({
            url : '/admin<%= !userId ? '/newuser ' : '/user/'+userId %>',
            type: 'POST'
        }).done(function (response) {
                    
        ko.applyBindings(new UserModel(response.value), $('#userInfo').get(0));
                });
    });
</script>
