<% layout( '../../layout-inprogress') %>
<div class="container">
    <div>
        <div id='usersTable' class='panel panel-default'>
            <div class='panel-heading'>Users</div>
            <div class='panel-body'>
                <table class='table'>
                    <thead>
                        <th>Email</th>
                        <th>Name</th>
                        <th>&nbsp;</th>
                    </thead>
                    <tbody data-bind='foreach: $data.users'>
                        <tr >
                            <td><span data-bind='text: $data.emailAddress'></span></td>
                            <td><span data-bind='text: $data.name'></span></td>
                            <td>
                            <div class='btn-group-sm'>
                            <a href='#' class='btn btn-primary' 
                                data-bind='attr:{href: "/admin/user/"+$data.id()}'>Edit</a>

                            <a href='#' class='btn btn-default' 
                                        data-bind='attr:{href: "/admin/"+$data.id()+"/mcoQualifications"}'>MCO Qualifications</a>
                            <a href='#' class='btn btn-default' 
                                        data-bind='attr:{href: "/admin/"+$data.id()+"/therapistQualifications"}'>Therapist Qualifications</a>
                            <a href='#' class='btn btn-default' 
                                        data-bind='attr:{href: "/admin/"+$data.id()+"/permissions"}'>Permissions</a>
                            </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <a class='btn btn-default' href='/admin/newuser'>Add New User</a>
                </div>
            </div>
        </div>

    </div>
</div>

<script src='/js/ko/users.js?v=<%= version %>'></script>
<script>
    $(function(){
        ko.applyBindings(new UsersModel(<%- JSON.stringify(users) %> ), $('#usersTable').get(0));
      });
</script>
