<div class='panel panel-default'>
    <div class='panel-heading'>
        Base Demographics
    </div>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-sm-6'>
                <div>
                    <strong>Date of Birth:</strong>
                    <span data-bind='text: $data.dateOfBirthDisplay'></span>
                </div>
                <div>
                    <strong>Ethnicity:</strong>
                    <span data-bind='text: $data.ethnicity'></span>
                </div>
                <div>
                    <strong>School:</strong>
                    <span data-bind='text:$data.schoolName'></span>
                </div>
                <div>
                    <strong>Grade:</strong>
                    <span data-bind='text:$data.grade'></span>
                </div>
            </div>
            <div class='col-sm-6'>
                <div>
                    <strong>Medicaid #:</strong>
                    <span data-bind='text: $data.medicaidNumber'></span>
                </div>
                <div><strong>Sex:</strong>
                    <span data-bind='text: $data.gender'></span>
                </div>
                <div><strong>Student ID:</strong>
                    <span data-bind='text: $data.studentId'></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='panel panel-default'>
    <div class='panel-heading'>
        IEP Team Members
    </div>
    <div class='panel-body'>
        <div data-bind='foreach: $data.iepTeamMembers'>
            <div class='row'>
                <div class='col-md-3' data-bind='text: $data.name'></div>
                <div class='col-md-3' data-bind='text: $data.specialty'></div>
            </div>
        </div>
    </div>
</div>