<% layout( '../layout-inprogress') %>
<div class="container">
    <div>
        <div id='studentInfo'>
            <div class="row">
                <div class="col-sm-12">
                    <h3>
                        <span class="label-inverted">
                            <span class="glyphicon glyphicon-user"></span>
                            <span data-bind='text: studentName'></span>
                            <span data-bind='text: "("+studentId()+")"'></span>
                        </span>
                    </h3>
                </div>
            </div>
            <div class='panel panel-default'>
                <nav class="navbar navbar-default" style='margin-top:-1px;margin-right:-1px;margin-left:-1px' role="navigation">
                    <div class="navbar-header">
                        <button class="navbar-toggle" data-target="#studentInfoBar" data-toggle="collapse" type="button">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="collapse navbar-collapse navbar-ex1-collapse" id="studentInfoBar">
                            <ul class="nav navbar-nav">
                                <li data-bind='css:{active: selected() === "Basic Information"}'>
                                    <a data-bind='click: function(){selected("Basic Information");}' href="#">Basic Information</a>
                                </li>
                                <li data-bind='css:{active: selected() === "Services"}'>
                                    <a data-bind='click: function(){selected("Services");}' href="#">Services</a>
                                </li>
                                <li data-bind='css:{active: selected()==="Student History"}'>
                                    <a data-bind='click: function(){selected("Student History");}' href='#'>Service History</a>
                                </li>
                                <li data-bind='css:{active:selected() === "Additional Information"}'>
                                    <a data-bind='click: function(){selected("Additional Information");}' href="#">Authorization Information</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class='panel-body' data-bind='visible: loading()'>

                        <img class='img-responsive' style='margin:0 auto' src='/images/loading.GIF'/>
                </div>
                <div class='panel-body' style='display:none' data-bind='visible: !loading()'>
                    <div data-bind='visible: $data.selected()==="Basic Information"'>
                        <div data-bind='with: basicInformation()'>
                            <% include basicInformation.ejs %>
                        </div>
                    </div>
                    <div data-bind='visible: $data.selected()==="Services"'>
                        <div data-bind='with: iepServicesWrapper()'>
                            <% include services.ejs %>
                        </div>
                    </div>
                    <div data-bind='visible: $data.selected()==="Student History"'>
                        <div data-bind='with: studentHistory'>
                            <% include studentHistory.ejs %>
                        </div>
                    </div>
                    <div data-bind='visible: $data.selected()==="Additional Information"'>
                        <div data-bind='with: additionalInformationWrapper().additionalInformation()'>
                            <% include additionalInformation.ejs %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src='/js/ko/specialtyOption.js?v=<%= version%>'></script>
<script src='/js/ko/studentHistory.js?v=<%= version%>'></script>
<script src='/js/ko/student.js?v=<%= version%>'></script>
<script src='/js/lib/ko.datatable.static.js'></script>
<% include modals/serviceModalTemplate %>
<% include modals/parentalConsentModalTemplate %>
<% include modals/studentProgressNoteModal %>
<% include modals/prescriptionTemplate %>
<% include modals/studentMCOInfoModalTemplate %>
</script>
<script type='text/javascript'>
$(document).ready(function () {
                  setTimeout(function(){
        console.log('ready');
        var scm = new StudentContainerModel('<%= districtCode%>', '<%= internalStudentId %>', '<%= studentId %>', '<%= studentName %>');
        ko.applyBindings(scm, $('#studentInfo').get(0));

        $(document).ajaxStop(function(){
                            setTimeout(function(){
                             scm.loading(false);
                             },100);
                             });

    }, 100);
});
</script>
