<div>
    <div data-backdrop='static' data-bind='modal:{properties: $data.noteModal, template: "studentProgressNoteModal"}' data-keyboard='false'></div>
    <div data-bind='foreach: studentProgressNotes'>
        <div data-bind='text: headerText'>
        </div>
        <div class='panel'>
            <div class='panel-body'>
                <div data-bind='text: note'></div>
            </div>
        </div>
    </div>
    <div data-bind='visible: $data.studentProgressNotes().length===0'>
        No progress notes added yet.
        <p></p>
    </div>
    <div>
        <a class='btn btn-default' data-bind='click: function(){$data.noteModal.open();}' href='#'>Add Progress Note</a>
    </div>
</div>
