<div class='panel panel-default'>
    <div class='panel-heading'>Services</div>
    <div class='list-group list-group-nohover'>
        <!-- ko foreach: $data.iepServices -->
        <div class='list-group-item'>
            <div class='row'>
                <div class='col-xs-8'>
                    <h4>
                        <strong>
                            <span data-bind='text: $data.service'></span>
                            <span>
                                with
                            </span>
                            <span data-bind='text: $data.providerName'></span>
                        </strong>
                    </h4>
                </div>
                <div class='col-xs-4'>
                    <!-- ko if: $data.editable() -->
                    <div class='pull-right'>
                        <a class='btn btn-primary' data-bind='click: function(){$parent.serviceModal.open($data);}' href='#'>Edit</a>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-6'>
                    <div>
                        <strong>Frequency/Duration:</strong>
                        <span data-bind='text: $data.frequencyAndDuration'></span>
                    </div>
                    <div>
                        <strong>Diagnostic Code:</strong>
                        <span data-bind='text: $data.diagnosticCodeDisplay'></span>
                    </div>
                </div>
                <div class='col-xs-6'>
                    <div>
                        <strong>Valid:</strong>
                        <span data-bind='text: $data.dateSpan'></span>
                    </div>
                    <div>
                        <strong>Group Therapy Ordered:</strong>
                        <span data-bind='visible: $data.groupTherapyOrdered'>Yes</span>
                        <span data-bind='visible: !$data.groupTherapyOrdered()'>No</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>
</div>

<div data-backdrop='static' data-bind='modal_old:{properties: serviceModal, template: "serviceModel"}' data-keyboard='false'></div>
