<div data-bind='with: sessionHistory'>
    <div data-bind='if: !!$data'>
        <div data-bind='visible: firstBindComplete()'>
            <div data-bind='foreach: visibleRows'>
                <div class='panel'>
                    <div class='panel-body'>
                        <h4 data-bind='text: $data.therapyDisplay'></h4>
                        <div data-bind='text: $data.codesDisplay'></div>
                        <br/>
                        <div data-bind='visible: $data.absent()'>
                            <div><span>Student was absent:
                                </span>
                                <span data-bind='text: $data.absenceReason'></span>
                            </div>
                        </div>
                        <div data-bind='visible: !$data.absent()'>
                            <label>Session Notes</label>
                            <div data-bind='text: $data.sessionNotes'></div>
                            <br/>
                            <label>Individual Note</label>
                            <div data-bind='text: $data.individualNote'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-bind='visible: noItemsFound'>No records found.</div>
        <div class='text-center' data-bind='visible: !noItemsFound()'>
            <ul class='pagination'>
                <li><a href='#' data-bind='click: first'>&laquo;</a></li>
                <li><a href='#' data-bind='click: previous'>&lt;</a></li>
                <!-- ko foreach: selectablePages -->
                <li data-bind='css:{active: $data=== $parent.selectedPage()}'>
                    <a data-bind='click: function(){$parent.pageSelect($data);}' href='#'>
                        <span data-bind='text: $data'></span>
                    </a>
                </li>
                <!-- /ko -->
                <li><a href='#' data-bind='click: next'>&gt;</a></li>
                <li><a href='#' data-bind='click: last'>&raquo;</a></li>
            </ul>
        </div>
    </div>
</div>
