<div>
    <div>
        <div data-bind='visible: sessionsAndNotes().firstBindComplete()'>
            <div class=''>
                <div class='row'>
                    <div class='col-xs-3'>
                        <div>
                            <strong>Select a specialty:</strong>
                        </div>
                        <div>
                            <div class='btn-group'>
                                <button class='btn btn-default dropdown-toggle' data-toggle='dropdown' type='button'>
                                    <span data-bind='text: $data.historySpecialtySelection'></span>
                                    <span class='caret'></span>
                                </button>
                                <ul class='dropdown-menu' data-bind='foreach: $data.historySpecialties()'>
                                    <li>
                                        <a data-bind='text: $data, click: function(){$parent.historySpecialtySelection($data);}' href='#'></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class='col-xs-3'>
                        <div>
                            <strong>Select a Therapist:</strong>
                        </div>
                        <div>
                            <div class='btn-group'>
                                <button class='btn btn-default dropdown-toggle' data-toggle='dropdown' type='button'>
                                    <span data-bind='text: $data.peopleSelection'></span>
                                    <span class='caret'></span>
                                </button>
                                <ul class='dropdown-menu' data-bind='foreach: $data.peopleOptions()'>
                                    <li>
                                        <a data-bind='text: $data, click: function(){$parent.peopleSelection($data);}' href='#'></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class='col-xs-3'>
                        <div>
                            <strong>Select a note type:</strong>
                        </div>
                        <div>
                            <div class='btn-group'>
                                <button class='btn btn-default dropdown-toggle' data-toggle='dropdown' type='button'>
                                    <span data-bind='text: $data.noteTypeSelection'></span>
                                    <span class='caret'></span>
                                </button>
                                <ul class='dropdown-menu' data-bind='foreach: $data.noteTypeOptions()'>
                                    <li>
                                        <a data-bind='text: $data, click: function(){$parent.noteTypeSelection($data);}' href='#'></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-xs-3'>
                        <label class='control-label'>Start Date</label>
                        <div class='input-group date' data-bind='datePicker:{value: $data.selectedStartDate, format: "MM/DD/YYYY"}'>
                            <input class='form-control' data-bind='value: $data.selectedStartDateDisplay()' disabled style='border-right: 0px'/>
                            <span class='input-group-btn'>
                                <a class='btn btn-default' data-bind='click: function(){$data.selectedStartDate(null);}' style='border-radius:0px'>
                                    <span class='glyphicon glyphicon-remove'></span>
                                </a>
                            </span>
                            <span class='input-group-btn datepickerbutton'>
                                <a class='btn btn-default'>
                                    <span class='glyphicon glyphyicon-calendar'></span>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class='col-xs-3'>
                        <label class='control-label'>End Date</label>
                        <div class='input-group date' data-bind='datePicker:{value: $data.selectedEndDate, format: "MM/DD/YYYY"}'>
                            <input class='form-control' data-bind='value: $data.selectedEndDateDisplay()' disabled style='border-right: 0px'/>
                            <span class='input-group-btn'>
                                <a class='btn btn-default' data-bind='click: function(){$data.selectedEndDate(null);}' style='border-radius:0px'>
                                    <span class='glyphicon glyphicon-remove'></span>
                                </a>
                            </span>
                            <span class='input-group-btn datepickerbutton'>
                                <a class='btn btn-default'>
                                    <span class='glyphicon glyphyicon-calendar'></span>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class='col-xs-6'>
                        <div class='form-group pull-right'>
                            <label class='control-label'>&nbsp;</label>
                            <div>
                                <a class='btn btn-primary' data-bind='click: function(){$data.noteModal.open(null);}' href='#'>Add Progress Note</a>
                                <div data-backdrop='static' data-bind='modal_old:{properties: $data.noteModal, template: "studentProgressNoteModal"}' data-keyboard='false'></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ko foreach: sessionsAndNotes().visibleRows -->
            <!-- ko if: $data.isSession() -->
            <div class='panel panel-default'>
                <div class='panel-heading'>
                    <div class='row'>
                        <div class='col-xs-3'>
                            <span class='glyphicon glyphicon-calendar'></span>
                            <strong>
                                <span data-bind='visible: $data.data().isGroupSession()'>Group</span>
                                <span>Session</span>
                            </strong>
                        </div>
                        <div class='col-xs-3' style='text-align:right'>
                            <span data-bind='html: $data.data().durationDisplay()'></span>
                        </div>
                        <div class='col-xs-3'>
                            <span data-bind='text: $data.data().therapy()'></span>
                        </div>
                        <div class='col-xs-2'>
                            <span data-bind='text: $data.data().therapistName()'></span>
                        </div>
                        <div class='col-xs-1'>
                            <span class='pull-right badge' data-bind='text: $data.data().status()'></span>
                        </div>
                    </div>
                </div>
                <div class='panel-body'>
                    <div class='row'>
                        <div class='col-xs-8'>
                            <div data-bind='text: $data.data().codesDisplay'></div>
                        </div>
                        <div class='col-xs-4'>
                            <div class='pull-right'>
                                <a class='btn btn-primary btn-sm' data-bind='attr: {href: "/"+$data.data().districtCode()+"/session/"+$data.data().scheduleId()}, text: $data.data().buttonDisplay()' href='#'></a>
                                <!-- ko if: !($data.data().isBilled()) -->
                                <a class='btn btn-default btn-sm' data-bind='click: function(){$data.data().delete();}' href='#'>Remove session</a>
                                <!-- /ko -->
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div data-bind='visible: $data.data().absent()'>
                        <div><span>Student was absent:
                            </span>
                            <span data-bind='text: $data.data().absenceReason'></span>
                        </div>
                    </div>
                    <div data-bind='visible: !$data.data().absent()'>
                        <label>Session Narrative</label>
                        <pre data-bind='text: $data.data().sessionNotes'></pre>
                        <br/>
                        <br/>
                        <div data-bind='visible: !!$data.data().individualNote() && $data.data().individualNote() !=""'>
                            <label>Medicaid Progress Narrative</label>
                            <pre data-bind='text: $data.data().individualNote'></pre>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /ko -->
            <!-- ko if: $data.isProgressNote -->
            <div class='panel panel-default'>
                <div class='panel-heading'>
                    <div class='row'>
                        <div class='col-xs-3'>
                            <span class='glyphicon glyphicon-file'></span>
                            <strong>IDEA Progress Note</strong>
                        </div>
                        <div class='col-xs-3' style='text-align:right'>
                            <span data-bind='text: $data.data().addedDateDisplay()'></span>
                        </div>
                        <div class='col-xs-3'>
                            <span data-bind='text: $data.data().specialty()'></span>
                        </div>
                        <div class='col-xs-2'>
                            <span data-bind='text: $data.data().notedBy()'></span>
                        </div>
                    </div>
                </div>
                <div class='panel-body'>
                    <div class='row'>
                        <div class='col-xs-8'>
                            <div class='row'>
                                <div class='col-xs-12'>
                                    <pre data-bind='text: $data.data().note'></pre>
                                </div>
                            </div>
                        </div>
                        <div class='col-xs-4'>
                            <div class='pull-right'>
                                <a class='btn btn-primary btn-sm' data-bind='click: function(){$parent.noteModal.open($data.data());}' href='#'>Edit Note</a>
                                <a class='btn btn-default btn-sm' data-bind='click:function(){$parent.removeProgressNote($data);}' href='#'>Remove Note</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /ko -->
            <!-- /ko -->
            <div data-bind='visible: sessionsAndNotes().noItemsFound'>No records found.</div>
            <div class='text-center' data-bind='visible: !sessionsAndNotes().noItemsFound()'>
                <ul class='pagination'>
                    <li><a data-bind='click: sessionsAndNotes().first' href='#'>&laquo;</a></li>
                    <li><a data-bind='click: sessionsAndNotes().previous' href='#'>&lt;</a></li>
                    <!-- ko foreach: sessionsAndNotes().selectablePages -->
                    <li data-bind='css:{active: $data=== $parent.sessionsAndNotes().selectedPage()}'>
                        <a data-bind='click: function(){$parent.sessionsAndNotes().pageSelect($data);}' href='#'>
                            <span data-bind='text: $data'></span>
                        </a>
                    </li>
                    <!-- /ko -->
                    <li><a data-bind='click: sessionsAndNotes().next' href='#'>&gt;</a></li>
                    <li><a data-bind='click: sessionsAndNotes().last' href='#'>&raquo;</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
