<% layout( '../layout-inprogress') %>
<div class="container">
    <div>
        <!--
        <h2>
            Welcome Home
        </h2>
        <div>
            Welcome to SMART.
        </div>
        -->
        <div id='wrapper'>
            <nav class="navbar navbar-default" style='margin-bottom: -1px;border-bottom-left-radius:0px;border-bottom-right-radius:0px' role="navigation">
                <span class='navbar-brand'><%= districtName %></span>
                <div class="navbar-header">
                    <button class="navbar-toggle" data-target="#districtHomeBar" data-toggle="collapse" type="button">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse navbar-ex1-collapse" id="districtHomeBar">
                        <ul class="nav navbar-nav">
                            <li data-bind='css:{active: selected() === "Upcoming Schedule"}'>
                                <a data-bind='click: function(){selected("Upcoming Schedule");}' href="#">Schedule</a>
                            </li>
                            <li data-bind='css:{active: selected() === "Students"}'>
                                <a data-bind='click: function(){selected("Students");}' href="#">Caseload</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div>
                <div data-bind='visible: $data.loading()'>
                    <div class='panel-body'>
                        <img class='img-responsive' style='margin:0 auto' src='/images/loading.GIF'/>
                    </div>
                </div>
                <div style='display:none' data-bind='visible:!$data.loading()'>
                    <div data-bind='visible: $data.selected()==="Upcoming Schedule"'>
                        <% include upcomingSchedule %>
                    </div>
                    <div data-bind='visible: $data.selected()==="Students"'>
                            <% include myCaseload %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src='/js/lib/ko.datatable.js'></script>
<script src='/js/ko/caseload.js?v=<%= version %>'></script>
<script src='/js/ko/upcoming.js?v=<%= version %>'></script>
<script src='/js/ko/districtHome.js?v=<%= version %>'></script>
<script type='text/javascript'>
    $(document).ready(function () {
        setTimeout(function(){
            var dhm = new DistrictHomeModel('<%= districtCode %>');
            ko.applyBindings(dhm, $('#wrapper').get(0));
            dhm.loading(false);
        },100);
    });
</script>
