<div data-bind='with:caseloadListRef()'>
    <div class='panel panel-default'>
        <div class='list-group list-group-nohover'>
            <div class='list-group-item' style='border-top-right-radius:0px; border-top-left-radius:0px; border-radius:0px;'>
                <div class='row' data-bind='visible: firstBindComplete()&& $parent.showFilter()'>
                    <div class="col-md-3">
                        <div class="input-group input-group-sm">
                            <label class='control-label'>Student First</label>
                            <input class='form-control' data-bind='value: filters().studentFirstName, valueUpdate: "keyup"' placeholder='First Name' type='text'/>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class='control-label'>Student Last</label>
                        <input class='form-control' data-bind='value: filters().studentLastName, valueUpdate: "keyup"' placeholder='Last Name' type='text'/>
                    </div>
                    <div class="col-md-3">
                        <label class='control-label'>Student ID</label>
                        <input class='form-control' data-bind='value: filters().districtStudentId, valueUpdate: "keyup"' placeholder='Student ID' type='text'/>
                    </div>
                </div>
                <div class='row' data-bind='visible: firstBindComplete() && $parent.showFilter()'>
                    <div class="col-md-3">
                        <label class='control-label'>School</label>
                        <input class='form-control' data-bind='value: filters().schoolName, valueUpdate: "keyup"' placeholder='School' type='text'/>
                    </div>
                    <div class="col-md-3">
                        <label class='control-label'>Service</label>
                        <input class='form-control' data-bind='value: filters().service, valueUpdate: "keyup"' placeholder='Service' type='text'/>
                    </div>
                    <div class="col-md-3">
                        <label class='control-label'>Duration/Frequency</label>
                        <input class='form-control' data-bind='value: filters().frequencyAndDuration, valueUpdate: "keyup"' placeholder='Frequency and Duration' type='text'/>
                    </div>
                </div>
                <div class='row' data-bind='visible: firstBindComplete()'>
                    <div class="col-md-4">
                        <div class='btn-patch'>
                            <a class='btn btn-default' data-bind='click: function(){$parent.showFilter(!$parent.showFilter())}' href='#'>
                                <span class='glyphicon glyphicon-filter'></span>
                                Students Filter
                                <span class='glyphicon' data-bind='css: {"glyphicon-chevron-down": !$parent.showFilter(), "glyphicon-chevron-up": $parent.showFilter()}'></span>
                            </a>
                        </div>
                    </div>
                    <div class='col-md-8'>
                        <label class='control-label'>Show My Students only:</label>
                        <div class='btn btn-group'>
                            <a class='btn btn-default' data-bind='click: function(){filters().myStudentsOnly("Yes");}, css:{"btn-primary": filters().myStudentsOnly() == "Yes"}' href='#'>Yes
                            </a>
                            <a class='btn btn-default' data-bind='click: function(){filters().myStudentsOnly("No");}, css{"btn-primary": filters().myStudentsOnly() == "No"}' href='#'>No
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ko foreach: visibleRows -->
            <div class='list-group-item'>
                <div class='row'>
                    <div class='col-xs-4'>
                        <h4>
                            <a data-bind='attr: {href: "/<%= districtCode %>/student/"+$data.studentId()}' href='#'>
                                <strong data-bind='text: $data.displayName()'></strong>
                            </a>
                        </h4>
                    </div>
                    <div class='col-xs-8'>
                        <div class='pull-right'>
                            <!-- ko if: $data.services().length == 1 -->
                            <a class='btn btn-primary' data-bind='attr:{href:"/<%= districtCode %>/schedule/new/"+$data.services()[0].serviceId()}'href='#'>
                                <span class="glyphicon glyphicon-calendar"></span>
                                Add Schedule
                            </a>
                            <a class='btn btn-primary' data-bind='attr:{href:"/<%= districtCode %>/session/"+$data.services()[0].serviceId()+"/adHocSession"}'>
                                <span class="glyphicon glyphicon-pencil"></span>
                                Start Session
                            </a>
                            <!-- /ko -->
                            <!-- ko if: $data.services().length> 1 -->
                            <div class='btn-group'>
                                <button class='btn btn-primary dropdown-toggle' data-toggle='dropdown' type='button'>
                                    <span class='glyphicon glyphicon-calendar'></span>
                                    Add Schedule
                                    <span class='caret'></span>
                                </button>
                                <ul class='dropdown-menu' data-bind='foreach: $data.services' role='menu'>
                                    <li>
                                        <a data-bind='attr:{href:"/<%= districtCode %>/schedule/new/"+$data.serviceId()}'href='#'>
                                            <span data-bind='text: $data.service'></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class='btn-group'>
                                <button class='btn btn-primary dropdown-toggle' data-toggle='dropdown' type='button'>
                                    <span class='glyphicon glyphicon-pencil'></span>
                                    Start Session
                                    <span class='caret'></span>
                                </button>
                                <ul class='dropdown-menu' data-bind='foreach: $data.services' role='menu'>
                                    <li>
                                        <a data-bind='attr:{href:"/<%= districtCode %>/session/"+$data.serviceId()+"/adHocSession"}'href='#'>
                                            <span data-bind='text: $data.service'></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /ko -->
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-xs-2'>
                        <div>
                            <strong>School:</strong>
                            <div data-bind='text: $data.schoolName'></div>
                        </div>
                    </div>
                    <div class='col-xs-10'>
                        <strong>Services:</strong>
                        <div data-bind='foreach: $data.services'>
                            <div>
                                <span data-bind='text: $data.service'></span>
                                <span>
                                    with
                                </span>
                                <span data-bind='text: $data.therapist'></span>
                                <span>&mdash;</span>
                                <span data-bind='text: $data.frequencyAndDuration'></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /ko -->
            <div class='list-group-item' data-bind='visible: noItemsFound'>
                <div class='alert alert-info'>
                    No records found.
                </div>
            </div>
            <div class='list-group-item text-center' data-bind='visible: !noItemsFound()'>
                <ul class='pagination'>
                    <li>
                        <a data-bind='click: first' href='#'>
                            <span class="glyphicon glyphicon-fast-backward"></span>
                        </a>
                    </li>
                    <li>
                        <a data-bind='click: previous' href='#'>
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                    </li>
                    <!-- ko foreach: selectablePages -->
                    <li data-bind='css:{active: $data=== $root.caseloadListRef().selectedPage()}'>
                        <a data-bind='click: function(){$root.caseloadListRef().pageSelect($data);}' href='#'>
                            <span data-bind='text: $data'></span>
                        </a>
                    </li>
                    <!-- /ko -->
                    <li>
                        <a data-bind='click: next' href='#'>
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </li>
                    <li>
                        <a data-bind='click: last' href='#'>
                            <span class="glyphicon glyphicon-fast-forward"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
