<div data-bind='with: upcomingListRef()'>
    <div class='panel panel-default'>
        <div class='panel-body' data-bind='visible: firstBindComplete()'>
            <div class='row'>
                <!-- ROW1 -->
                <div class='col-xs-12 form-group-nomargin'>
                    <form role="form">
                        <div class='form-group'>
                            <div class='col-xs-3'>
                                <label class='control-label'>Start Date</label>
                                <div class='input-group date' data-bind='datePicker:{value: filters().startDate, format:"M/D/YYYY"}'>
                                    <input class='form-control' data-bind='value: filters().startDate' disabled/>
                                    <span class='input-group-btn'>
                                        <a class='btn btn-default'>
                                            <span class='glyphicon glyphicon-calendar'></span>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class='form-group'>
                            <div class='col-xs-offset-1 col-xs-3'>
                                <label class='control-label'>End Date</label>
                                <div class='input-group date' data-bind='datePicker:{value: filters().endDate, format:"M/D/YYYY"}'>
                                    <input class='form-control' data-bind='value: filters().endDate' disabled/>
                                    <span class='input-group-btn'>
                                        <a class='btn btn-default'>
                                            <span class='glyphicon glyphicon-calendar'></span>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class='form-group'>
                            <div class='col-xs-3 col-xs-offset-2'>
                                <div class='pull-right alert alert-danger' data-bind='visible: !!($root.unfinishedInThePast())' style='margin-bottom:0px'>
                                    <span class='glyphicon glyphicon-exclamation-sign'></span>
                                    <span>You have past unfinished sessions starting on
                                        <span data-bind='text: $root.unfinishedInThePast()'></span>
                                        Please complete them.</span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- ROW1 -->
        </div>
        <div class='list-group-item' data-bind='visible: $data.processing()'>
            <img class='img-responsive' style='margin:0 auto' src='/images/loading.GIF'/>
        </div>
        <div class='list-group list-group-nohover' data-bind='visible: !$data.processing()'>
            <!-- ko foreach: visibleRows -->
            <div class='list-group-item'>
                <div class='row'>
                    <div class='col-xs-8'>
                        <div class='row'>
                            <div class='col-xs-12'>
                                <!-- ko if: $data.students().length> 1 -->
                                <h4>
                                    <a data-bind='click: function(){$data.showGroupSession(!$data.showGroupSession());}' href='#'>
                                        <strong data-bind='text: $data.studentDisplay'></strong>
                                    </a>
                                    <span class='glyphicon glyphicon-chevron-up' data-bind='visible: !$data.showGroupSession()' style='font-size:10px'></span>
                                    <span class='glyphicon glyphicon-chevron-down' data-bind='visible: $data.showGroupSession()' style='font-size:10px'></span>
                                </h4>
                                <div class='row' data-bind='visible: $data.showGroupSession()'>
                                    <div class='col-md-11 col-md-offset-1'>
                                        <div>
                                            <strong>Students in this session:</strong>
                                        </div>
                                        <div data-bind='foreach: $data.students()'>
                                            <div>
                                                <a data-bind='attr: {href: "/"+$data.districtCode()+"/student/"+$data.internalStudentId()}' href='#'>
                                                    <span data-bind='text: $data.name()'></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /ko -->
                                <!-- ko if: $data.students().length == 1 -->
                                <h4>
                                    <a data-bind='attr: {href: "/"+$data.students()[0].districtCode()+"/student/"+$data.students()[0].internalStudentId()}' href='#'>
                                        <strong data-bind='text: $data.studentDisplay()'></strong>
                                    </a>
                                </h4>
                                <!-- /ko -->
                            </div>
                        </div>
                        <div class='row'>
                            <div class='clearfix'></div>
                             <div class='col-xs-2'>
                                  <span data-bind='text: moment($data.datetime()).format("M/D/YYYY")'></span>
                              </div>
                              <div class='col-xs-2'>
                                  <span data-bind='text:"at " + moment($data.datetime()).format("h:mm a")'></span>
                              </div>
                              <div class='col-xs-3'>
                                  <span data-bind='text: "for " + $data.duration() + " minutes"'></span>
                              </div>
                              <div class='col-xs-5'>
                                  <span data-bind='text: $data.service()'></span>
                              </div>
                        </div>
                    </div>
                    <div class='col-xs-4 text-center'>
                        <div class="row">&nbsp;</div>
                        <div class="row">
                            <a class='btn btn-primary btn-sm ' data-bind='attr:{href: "/<%= districtCode %>/session/"+$data.scheduleId()}, text: $data.buttonText()'><span class='glyphicon glyphicon-time'></span> Begin Session</a>
                            <!-- ko if: !$data.isBilled() && !$data.isFinalized() -->
                            <a class='btn btn-default btn-sm' data-bind='click: function(){$data.delete($root.upcomingListRef());}'><span class='glyphicon glyphicon-remove-sign'></span> Remove Session</a>
                            <!-- /ko -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- /ko -->
            <div class='list-group-item' data-bind='visible: noItemsFound() && !$data.processing()'>
                <div class='alert alert-info'>
                    No records found.
                </div>
            </div>
            <div class='list-group-item text-center' data-bind='visible: !noItemsFound() && !$data.processing()'>
                <ul class='pagination'>
                    <li>
                        <a data-bind='click: first' href='#'>
                            <span class="glyphicon glyphicon-fast-backward"></span>
                        </a>
                    </li>
                    <li>
                        <a data-bind='click: previous' href='#'>
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                    </li>
                    <!-- ko foreach: selectablePages -->
                    <li data-bind='css:{active: $data=== $root.upcomingListRef().selectedPage()}'>
                        <a data-bind='click: function(){$root.upcomingListRef().pageSelect($data);}' href='#'>
                            <span data-bind='text: $data'></span>
                        </a>
                    </li>
                    <!-- /ko -->
                    <li>
                        <a data-bind='click: next' href='#'>
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </li>
                    <li>
                        <a data-bind='click: last' href='#'>
                            <span class="glyphicon glyphicon-fast-forward"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
